{% extends 'config/base.html' %}
{% load static %}
{% block style %}
    <style type="text/css">

        #cuadricula{
            background-color: #0c0c0c;

        }
        .anchobtn{
            max-height: 100%;
            background-color: #0D47A1;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row fondo_blanco" style="padding-top: 10%;">
        <div class="col s1 m1 l1"></div>
        <div class="col s10 m10 l10" style="margin-top: 0px;">
            <div class="row">
                <div class="col s12">
                    <p class="negritas font_azul_verde center titulos">1. SELECCIONA TIPO DE BUSQUEDA <a href="#!"><img
                            src="{% static 'imagenes/1/interrogacion.png' %}" class="responsive-img"></a></p>
                </div>
            </div>

            <div class="row" style="padding: 1%;">

                    <div class="row sin_marg_bottom">
                        <div class=" col s12 txt_algn_center">
                            <p style="text-align: center;">
                                <input class="with-gap" name="datos_p" type="radio" id="rv1" value="0" onClick="TipoBusqueda(1)"/>
                                <label for="rv1" style="font-size: 18px;">Búsqueda por teléfono</label>
                                <input class="with-gap" name="datos_p" type="radio" id="rv2" value="1" onClick="TipoBusqueda(2)"/>
                                <label for="rv2" style="font-size: 18px;">Búsqueda por nombre</label>
                            </p>
                        </div>
                    </div>
                    <div class="row mdl-grid">
                        <div class=" input-field col s12 m10 l10" id="idTelefono">
                            <input id="datos_personalesT" type="number" class="validate" required="required" >
                            <label for="datos_personalesT"> Número de Teléfono</label>
                        </div>
                        <div class=" input-field col s12 m10 l10" id="idNombre">
                            <input id="datos_personalesN" type="text" class="validate" required="required">
                            <label for="datos_personalesN"> Nombre o alias</label>
                        </div>
                        <div class=" input-field col s12 m2 l2">
                            <button class="btn fondo_naranja redondo" type="submit" name="action" onClick="Busqueda()">Buscar
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <p class="negritas font_azul_verde center titulos">2. REFINA TU BÚQUEDA <a href="#!"><img
                            src="{% static 'imagenes/1/interrogacion.png' %}" class="responsive-img"></a></p>
                        </div>
                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="input-field col s12 m4 l4">
                            <select id="consejeros">
                            </select>
                        </div>
                         <div class=" input-field col s12 m4 l4">
                                <input id="fecha_inicio" type="text" class="datepicker" required="required"
                                       placeholder="DE">
                            </div>
                            <div class=" input-field col s12 m4 l4">
                                <input id="fecha_fin" type="text" class="datepicker" required="required"
                                       placeholder="A">
                            </div>
                    </div>
                    <div id="titulo">

                    </div>
                    <div id="historial">

                    </div>




{% endblock %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
{% block scripts %}


    <script type="text/javascript" src="{% static 'js/crsfajax.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var tipoBusqueda = "";
            $("#idTelefono").show()
            $("#idNombre").hide()
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100,
                min: [1939, 1, 1],
                max: [2019, 1, 31],
                format: 'yyyy-mm-dd',
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                container: undefined // ex. 'body' will append picker to body
            });

        });

        $.ajax({
            method: "GET",
            url: "{% url 'webservices:list_consejeros' %}",
            cache: false,
            success: function (json) {

                $("#consejeros").empty().html(' ');
                $('#consejeros').append(
                    $("<option></option>")
                        .attr("value", "")
                        .text("Consejeros")
                );
                for (i in json) {
                    $('#consejeros').append(
                        $("<option></option>")
                            .attr("value", json[i].pk)
                            .text(json[i].get_full_name)
                    );
                }
                $('#consejeros').material_select();
            }
        });

        function TipoBusqueda(valor) {

            if (valor == 1) {
                $("#idTelefono").show()
                $("#idNombre").hide()
                tipoBusqueda = 0
            } else {
                $("#idTelefono").hide()
                $("#idNombre").show()
                tipoBusqueda = 1
            }
         }



        function Busqueda() {

            var telefono = $('#datos_personalesT').val();
            var nombre = $('#datos_personalesN').val();
            var tipoBusqueda = "";

            if ($("#rv1").is(':checked')){
                tipoBusqueda = 0;
            } else {
                tipoBusqueda = 1;
            }

            if(tipoBusqueda == 0 &&  $('#datos_personalesT').val() == ""){
                alert('Introduce un número');
                    return
            } else if (tipoBusqueda == 1 &&  $('#datos_personalesN').val() == ""){
                alert('Introduce un nombre');
                    return
            } else {

                $.ajax({
                method: "GET",
                url: '/ws/busqueda_usuario/?tipo_busqueda=' + tipoBusqueda + '&telefono=' + telefono + '&nombre=' +  nombre,
                cache: false,

                success: function (json) {
                    if (json == ""){
                        $('#titulo').empty();
                        $('#titulo').append(`<div class="container center">
                                    <div class="col s12 center">
                                    <p class="negritas font_azul_verde center titulos">No encontramos ningún usuario registrado con esos datos </p>
                                    <a href="/consejero/registro_primera_vez/"><button class="btn">Registrar uno nuevo</button></a>
                                </div>
                            </div>`);
                    } else

                        $('#titulo').empty();
                        $('#titulo').append(`<div class="row">
                                    <div class="col s12">
                                    <p class="negritas font_azul_verde center titulos">3. RESULTADOS DE BÚSQUEDA <a href="#!"><img
                                    src="{% static 'imagenes/1/interrogacion.png' %}" class="responsive-img"></a></p>
                                </div>
                            </div>`);

                    $("#historial").empty();
                    for (i in json) {
                        llamada = {
                            victima: json[i].victima.nombre + ' ' + json[i].victima.apellido_paterno + ' ' + json[i].victima.apellido_materno,
                            consejero: json[i].consejero.get_full_name,
                            id: json[i].id,
                            estatus: json[i].estatus.nombre,
                            pk: json[i].victima.pk,
                            ultllamada: json[i].fecha,
                            motivo: json[i].motivo.nombre,
                            causa: json[i].causa_riesgo,

                        }
                        $('#historial').append(`
                                <div class="container sin_marg_bottom">
                                    <div class="col s12 l4 m4 left">
                                    <p><span class="font_negra negritas">Id Caso:</span>${llamada.id}</p>
                                    <p><span class="font_negra negritas">Nombre:</span>
                                    <br>${llamada.victima}</p>
                                    <p><span class="font_negra negritas">Consejero: </span>
                                    <br>${llamada.consejero}</p>
                                    <p><span class="font_negra negritas">Última llamada: </span>
                                    <br>${llamada.ultllamada}</p>
                            </div>

                            <div class="col s12 l4 m4 center" id="cuadricula" >

                                    <p><span class="font_blanco negritas">Mótivo de llamada</span>
                                    <br><span class="font_blanco">${llamada.motivo}</span></p>
                                    <p><span class="font_blanco negritas">Nivel de Riesgo</span>
                                    <progress id="html5" max="100" value="91"></progress>
                                    <br><span class="font_blanco medianas">${llamada.motivo}</span></p>
                                    <p><span class="font_blanco negritas">Nivel de Riesgo</span>
                                    <progress id="html5" max="100" value="91"></progress>
                                    <br><span class="font_blanco medianas">${llamada.motivo}</span></p>


                            </div>

                            <div class="col s12 l4 m4 fondo_azul">
                                <a href="/consejero/registro_seguimiento/${llamada.pk}"><div class="anchobtn col s12 l4 m4 fondo_azul" name="action">>
                                </div></a>
                            </div>

                            <div class="col s12 l12 m12 center">
                                <p><span class="negritas font_azul txt_algn_center">RESUMEN DE ÚLTIMA LLAMADA</span></p>
                                <p><span class="font_azul txt_algn_center">${llamada.causa}</span></p>
                            </div>



                            </div>`
                        );
                    }
                }
            });

            }
        }


    </script>
{% endblock %}
