{% extends 'config/base.html' %}
{% load static %}

{% block style %}
    <style type="text/css">

        [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
            padding-left: 24px;
            padding-right: 43px;
        }

        #datos_personales {
            display: none;
        }

        #datos_sociode {
            display: none;
        }

        [type="checkbox"] + label {
            padding-left: 23px;
            padding-right: 30px;
        }

        #datos_canalizacion {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row fondo_blanco" style="padding-top: 10%;">
        <div class="col s1 m1 l1"></div>
        <div class="col s10 m10 l10" style="margin-top: 0px;">
            <div class="row">
                <div class="col s12">
                    <p class="negritas font_azul_verde center titulos">FORMULARIO <a href="#!"><img
                            src="{% static 'imagenes/1/interrogacion.png' %}" class="responsive-img"></a></p>
                </div>
            </div>
            <div class="row" style="padding: 1%;">
                <form class="col s12">
                    <div class="row sin_marg_bottom">
                        <div class=" col s12 txt_algn_center">
                            <p style="font-size: 20px; text-align: center;">¿Existe riesgo de vida?</p>
                            <p style="text-align: center;">
                                <input class="with-gap" name="group1" type="radio" id="rv1"/>
                                <label for="rv1" style="font-size: 18px;">Sí</label>
                                <input class="with-gap" name="group1" type="radio" id="rv2"/>
                                <label for="rv2" style="font-size: 18px;">No</label>
                            </p>
                        </div>
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="datos_p"/>
                                <label for="datos_p" style="color:#EF7F13!important">Datos personales</label>
                            </p>
                        </div>

                    </div>
                    <div class="row sin_marg_bottom">
                        <div class=" input-field col s12 m6 l6">
                            <input id="texto" type="number" class="validate" required="required">
                            <label for="texto">Teléfono</label>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <input id="texto" type="text" class="validate" required="required">
                            <label for="texto"> Nombre o alias</label>
                        </div>
                    </div>
                    <div id="datos_personales" class="row sin_marg_bottom">
                        <div class=" input-field col s12 m4 l4">
                            <input id="texto" type="text" class="validate" required="required">
                            <label for="texto">Apellido Paterno</label>
                        </div>
                        <div class=" input-field col s12 m4 l4">
                            <input id="texto" type="text" class="validate" required="required">
                            <label for="texto">Apellido Materno</label>
                        </div>
                        <div class=" input-field col s12 m4 l4">
                            <input type="text" class="datepicker" required="required">
                            <label for="texto">Fecha Nacimiento</label>
                        </div>
                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="input-field col s12 m4 l4">
                            <select id="sexo">
                            </select>
                        </div>
                        <div class=" input-field col s12 m4 l4">
                            <input id="texto" type="number" class="validate" required="required">
                            <label for="texto">Código Postal</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            <input id="texto" type="text" class="validate" required="required">
                            <label for="texto"> Colonia</label>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="datos_s"/>
                                <label for="datos_s" style="color:#EF7F13!important">Datos
                                    sociodemográficos</label>
                            </p>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom" id="datos_sociode">
                        <div class="input-field col s12 m6 l6">
                            <select id="religion">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="grado_estudios">
                            </select>
                        </div>
                        <div class="col s12 m6 l6 txt_algn_center">
                            <p style="margin-top: 0px;">Trabajo remunerado</p>
                            <p style="margin-top: 0px;">
                                <input class="with-gap" name="group2" type="radio" id="test1"/>
                                <label for="test1">Sí</label>
                                <input class="with-gap" name="group2" type="radio" id="test2"/>
                                <label for="test2">No</label>
                            </p>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <select id="ocupaciones">
                            </select>
                        </div>

                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p class="font_naranja">
                                Línea Origen
                            </p>
                        </div>
                        <div class="col s12 txt_algn_center">
                            <p style="margin-top: 0px; text-align: center;">Tipo de Llamada</p>
                            <p style="margin-top: 0px; text-align: center;" id="tipo_llamada">
                            </p>
                        </div>

                        <form class="col s12">
                            <div class="row">
                                <div class="col s12" style="padding-top: 15px;">
                                    <p style="text-align: center;">Motivo de llamada</p>
                                </div>
                                <div class="input-field col s12">
                                            <textarea id="textarea1" class="materialize-textarea"
                                                      placeholder="Causa de riesgo"
                                                      style="padding-left: 14px;"></textarea>

                                </div>
                            </div>
                        </form>
                        <div class="col s12 txt_algn_center">
                            <p style="margin-top: 0px; text-align: center;">
                                Tipificación
                            </p>
                            <div class="row">
                                <div class=" input-field col s12 m12 l12">
                                    <select id="tipificaciones">
                                    </select>
                                </div>
                            </div>
                            <form action="#">
                                <p style="text-align: center;" id="categoria_tipificacion">

                                </p>
                                <div class="row">
                                    <div class="col s12" style="padding-top: 15px;">
                                        <p style="text-align: center;">Descripción de la tipificación</p>
                                    </div>
                                    <div class="input-field col s12">
                                            <textarea id="ta_descrip_tipificacion" class="materialize-textarea"
                                                      placeholder="Descripción de la tipificación"
                                                      style="padding-left: 14px;"></textarea>

                                    </div>
                                </div>
                                <p style="text-align: center;">
                                    <!--
                                    <input type="checkbox" id="tp5"/>
                                    <label for="tp5">Checkbox</label>
                                    -->

                                </p>
                            </form>
                        </div>
                    </div>


                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p class=" negritas" style="font-size: 20px; text-align: center;">
                                Recomendaciones</p>
                            <p>1. ansdbmnbasdmasd</p>
                            <p>2. sndkjans,dnas,d</p>
                            <p>3. lakjsdlkasldasd</p>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="modalidad_violencia">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="tipos_violencia">

                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="fase_violencia">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="semaforo">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="violentometro">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="victimas">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Agresor</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Redes de apoyo</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s12" style="padding-top: 15px;">
                                    <p style="text-align: center;">¿Qué acciones tiene que realizar para la
                                        siguiente llamada?</p>
                                </div>
                                <div class="input-field col s12">
                                            <textarea id="textarea1" class="materialize-textarea"
                                                      placeholder="Plan de acción"
                                                      style="padding-left: 14px;"></textarea>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p style="text-align: center;">Tareas o actividades recomendadas</p>
                        </div>
                        <div class="input-field col s12">
                            <input id="texto" type="text" class="validate" required="required"
                                   placeholder="Tarea 1">
                        </div>
                        <div class="input-field col s12">
                            <input id="texto" type="text" class="validate" required="required"
                                   placeholder="Tarea 2">
                        </div>
                        <div class="input-field col s12">
                            <input id="texto" type="text" class="validate" required="required"
                                   placeholder="Tarea 3">
                        </div>
                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="datos_c"/>
                                <label for="datos_c" style="color:#EF7F13!important">¿Requiere
                                    canalización?</label>
                            </p>
                        </div>
                    </div>

                    <div class="row sin_marg_bottom" id="datos_canalizacion">
                        <div class="col s12">
                            <p style="text-align: center;">Canalizar a:</p>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>--------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>


                </form>
            </div>
            <div class="row">
                <div class="col s12 center" style="margin-bottom: 5%;">
                    <button class="btn fondo_naranja redondo" type="submit" name="action">Transferir</button>
                    <button class="btn fondo_naranja redondo" type="submit" name="action">Guardar</button>
                </div>
            </div>
        </div>
        <div class="col s1 m1 l1"></div>
    </div>

{% endblock %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
{% block scripts %}


    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100,
                min: [1939, 1, 1],
                max: [2019, 1, 31],
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                container: undefined // ex. 'body' will append picker to body
            });


            $('#datos_p').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_personales').hide();
                } else {
                    $('#datos_personales').show();
                }

            })

            $('#datos_s').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_sociode').hide();
                } else {
                    $('#datos_sociode').show();
                }

            })

            $('#datos_c').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_canalizacion').hide();
                } else {
                    $('#datos_canalizacion').show();
                }

            })

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_sexos' %}",
                cache: false,
                success: function (json) {

                    $("#sexo").empty().html(' ');
                    $('#sexo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Sexo")
                    );
                    for (i in json) {
                        $('#sexo').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#sexo').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_religiones' %}",
                cache: false,
                success: function (json) {

                    $("#religion").empty().html(' ');
                    $('#religion').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Religión")
                    );
                    for (i in json) {
                        $('#religion').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#religion').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_grado_estudios' %}",
                cache: false,
                success: function (json) {

                    $("#grado_estudios").empty().html(' ');
                    $('#grado_estudios').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Grado de estudios")
                    );
                    for (i in json) {
                        $('#grado_estudios').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#grado_estudios').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_ocupaciones' %}",
                cache: false,
                success: function (json) {

                    $("#ocupaciones").empty().html(' ');
                    $('#ocupaciones').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Ocupación")
                    );
                    for (i in json) {
                        $('#ocupaciones').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#ocupaciones').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_tipos_violencia' %}",
                cache: false,
                success: function (json) {

                    $("#tipos_violencia").empty().html(' ');
                    $('#tipos_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Tipo de violencia")
                    );
                    for (i in json) {
                        $('#tipos_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#tipos_violencia').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_motivo_de_llamada' %}",
                cache: false,
                success: function (json) {
                    console.log(json)
                    for (i in json) {
                        $('#tipo_llamada').append('<input class="with-gap" name="group1" type="radio" id="tl' + json[i].pk + '"/><label for="tl' + json[i].pk + '">' + json[i].nombre + '</label>');
                    }
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_tipificaciones' %}",
                cache: false,
                success: function (json) {

                    $("#tipificaciones").empty().html(' ');
                    $('#tipificaciones').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Tipificaciones")
                    );
                    for (i in json) {
                        $('#tipificaciones').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#tipificaciones').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_tipificaciones_categorias' %}",
                cache: false,
                success: function (json) {
                    console.log(json)
                    for (i in json) {
                        $('#categoria_tipificacion').append('<input class="with-gap" name="group3" type="radio" id="tic' + json[i].pk + '"/><label for="tic' + json[i].pk + '">' + json[i].nombre + '</label>');
                    }
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_modalidad_violencia' %}",
                cache: false,
                success: function (json) {

                    $("#modalidad_violencia").empty().html(' ');
                    $('#modalidad_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Modalidad")
                    );
                    for (i in json) {
                        $('#modalidad_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#modalidad_violencia').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_fases_violencia' %}",
                cache: false,
                success: function (json) {

                    $("#fase_violencia").empty().html(' ');
                    $('#fase_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Fase de violencia")
                    );
                    for (i in json) {
                        $('#fase_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#fase_violencia').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_semaforo' %}",
                cache: false,
                success: function (json) {

                    $("#semaforo").empty().html(' ');
                    $('#semaforo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Semáforo")
                    );
                    for (i in json) {
                        $('#semaforo').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#semaforo').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_violentometro' %}",
                cache: false,
                success: function (json) {

                    $("#violentometro").empty().html(' ');
                    $('#violentometro').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Violentometro")
                    );
                    for (i in json) {
                        $('#violentometro').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#violentometro').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_victimas' %}",
                cache: false,
                success: function (json) {

                    $("#victimas").empty().html(' ');
                    $('#victimas').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Victimas")
                    );
                    for (i in json) {
                        $('#victimas').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#victimas').material_select();
                }
            });


        });

    </script>
{% endblock %}
