{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block style %}
    <style type="text/css">
        [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
            padding-left: 24px;
            padding-right: 43px;
        }


        [type="checkbox"] + label {
            padding-left: 23px;
            padding-right: 30px;
        }

        #datos_canalizacion {
            display: none;
        }

        .tabs .tab a {
            border: solid 1px #EF7F13;
            color: black;
        }

        .tabs .tab a.active {
            background-color: #EF7F13;
            color: white;
        }

        .tabs .tab a:hover {
            background-color: #6E6D6D;
            color: white;
            border: none;
        }

    </style>
{% endblock %}
{% block content %}


    <div id="content">

        <div class="row fondo_blanco" style="padding-top: 10%;">
            <div class="col s1 m1 l1"></div>
            <div class="col s10 m10 l10" style="margin-top: 0px;">
                <div class="row">
                    <div class="col s12">
                        <p class="negritas font_azul_verde center titulos">FORMULARIO SEGUIMIENTO <a href="#!">
                            <img src="{% static 'imagenes/1/interrogacion.png' %}" class="responsive-img"></a></p>
                    </div>
                </div>
                <div class="row" style="padding: 1%;">
                    <div class="col s12" style="text-align: center;">
                        <ul class="tabs">
                            <li class="tab col s4"><a class="active" href="#test1">Datos Personales</a></li>
                            <li class="tab col s4"><a href="#test2">Atención</a></li>
                            <li class="tab col s4"><a href="#test3">Histórico</a></li>
                        </ul>
                    </div>
                    <form class="col s12" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="test1" class="col s12" style="margin-top: 40px;">
                            <div class="row sin_marg_bottom">
                                <div class="col s12" style="margin-bottom: 20px;">
                                    <h5 class="font_gris_oscuro" style="text-align: center;">Datos Personales</h5>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.telefono %}
                                    <label for="{{ form.telefono.auto_id }}">Teléfono</label>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.nombre %}
                                    <label for="{{ form.nombre.auto_id }}"> Nombre</label>
                                </div>
                            </div>
                            <div class="row sin_marg_bottom">
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.apellido_paterno %}
                                    <label for="{{ form.apellido_paterno.auto_id }}">Apellido Paterno</label>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.apellido_materno %}
                                    <label for="{{ form.apellido_materno.auto_id }}">Apellido Materno</label>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.fecha_nacimiento class+='datepicker' %}
                                    <label for="{{ form.fecha_nacimiento.auto_id }}">Fecha Nacimiento</label>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    {% render_field form.sexo %}
                                </div>
                            </div>
                            <div class="row sin_marg_bottom">
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.cp %}
                                    <label for="{{ form.cp.auto_id }}">Código Postal</label>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    {% render_field form.colonia %}
                                    <label for="{{ form.colonia.auto_id }}"> Colonia</label>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.religion %}
                                    <label for="{{ form.religion.auto_id }}">Religión</label>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    {% render_field form.nivel_estudio %}
                                    <label for="{{ form.nivel_estudio.auto_id }}">Grado de estudios</label>
                                </div>

                                <div class="col s12" style="text-align: center; margin-top: 20px;">
                                    <button class="btn fondo_naranja redondo" type="submit" name="action">Guardar
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div id="test3" class="col s12" style="margin-top: 40px;">
                        <div class="row sin_marg_bottom">
                            <div class="col s12" style="margin-bottom: 20px;">
                                <h5 class="font_gris_oscuro" style="text-align: center;">Histórico</h5>
                            </div>
                            <div class="input-field col s12 m4 l4">
                                <select id="consejeros">
                                </select>
                            </div>
                            <div class=" input-field col s12 m4 l4">
                                <input id="fecha_inicio" type="text" class="datepicker" required="required" placeholder="DE">
                            </div>
                            <div class=" input-field col s12 m4 l4">
                                <input id="fecha_fin" type="text" class="datepicker" required="required" placeholder="A">
                            </div>
                            <div class=" input-field col s12 m4 l4">
                                <button class="btn fondo_naranja redondo" onclick="BusquedaHistorial()">Buscar</button>
                            </div>
                        </div>
                        <div class="row sin_marg_bottom">
                            <div class="col s12">
                                <p><span class="font_naranja negritas">Última Llamada: </span> <span id="ultima_llamada"></span> </p>
                            </div>
                        </div>
                        <div id="historial">

                        </div>
                    </div>


                    <div id="test2" class="col s12" style="margin-top: 40px;">
                        <div class="row sin_marg_bottom">
                            <div class="col s12" style="margin-bottom: 20px;">
                                <h5 class="font_gris_oscuro" style="text-align: center;">
                                    Nuevo Servicio
                                </h5>
                            </div>
                            <div class="row sin_marg_bottom">
                                <div class="col s12">
                                    <p class="font_naranja">
                                        Línea Origen
                                    </p>
                                </div>
                                <div class="col s12 txt_algn_center">
                                    <p style="margin-top: 0px; text-align: center;">Tipo de Llamada</p>
                                    <p style="margin-top: 0px; text-align: center;" id="tipo_llamada">
                                    </p>
                                </div>

                                <form class="col s12">
                                    <div class="row">
                                        <div class="col s12" style="padding-top: 15px;">
                                            <p style="text-align: center;">Motivo de llamada</p>
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea id="causa_riesgo" class="materialize-textarea"
                                                      placeholder="Causa de riesgo"
                                                      style="padding-left: 14px;"></textarea>

                                        </div>
                                    </div>
                                </form>
                                <div class="col s12 txt_algn_center">
                                    <p style="margin-top: 0px; text-align: center;">
                                        Tipificación
                                    </p>
                                    <div class="row">
                                        <div class=" input-field col s12 m12 l12">
                                            <select id="tipificaciones" onchange="CargarCatTipificacion()">
                                            </select>
                                        </div>
                                    </div>
                                    <form action="#">
                                        <p style="text-align: center;" id="categoria_tipificacion">

                                        </p>
                                        <div class="row">
                                            <div class="col s12" style="padding-top: 15px;">
                                                <p style="text-align: center;">Descripción de la tipificación</p>
                                            </div>
                                            <div class="input-field col s12">
                                            <textarea id="descrip_tipificacion" class="materialize-textarea"
                                                      placeholder="Descripción de la tipificación"
                                                      style="padding-left: 14px;"></textarea>

                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <!--
                                            <input type="checkbox" id="tp5"/>
                                            <label for="tp5">Checkbox</label>
                                            -->

                                        </p>
                                    </form>
                                </div>
                            </div>


                            <div class="row sin_marg_bottom">
                                <div class="col s12">
                                    <p class=" negritas" style="font-size: 20px; text-align: center;">
                                        Recomendaciones</p>
                                    <p>1. ansdbmnbasdmasd</p>
                                    <p>2. sndkjans,dnas,d</p>
                                    <p>3. lakjsdlkasldasd</p>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <select id="modalidad_violencia">
                                    </select>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <select id="tipos_violencia">

                                    </select>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <select id="fase_violencia">
                                    </select>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <select id="semaforo">
                                    </select>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <select id="violentometro">
                                    </select>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <select id="victimas">
                                    </select>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <select id="agresor">
                                    </select>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    <select id="redes_apoyo">
                                    </select>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    <select id="medio_contacto">
                                    </select>
                                </div>
                            </div>
                            <div class="row sin_marg_bottom">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="col s12" style="padding-top: 15px;">
                                            <p style="text-align: center;">¿Qué acciones tiene que realizar para la
                                                siguiente llamada?</p>
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea id="plan_accion" class="materialize-textarea"
                                                      placeholder="Plan de acción"
                                                      style="padding-left: 14px;"></textarea>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row sin_marg_bottom">
                                <div class="col s12">
                                    <p style="text-align: center;">Tareas o actividades recomendadas</p>
                                </div>
                                <div class="input-field col s12">
                                    <input id="texto" type="text" class="validate" required="required"
                                           placeholder="Tarea 1">
                                </div>
                                <div class="input-field col s12">
                                    <input id="texto" type="text" class="validate" required="required"
                                           placeholder="Tarea 2">
                                </div>
                                <div class="input-field col s12">
                                    <input id="texto" type="text" class="validate" required="required"
                                           placeholder="Tarea 3">
                                </div>
                            </div>

                            <div class="row sin_marg_bottom">
                                <div class="col s12">
                                    <p>
                                        <input type="checkbox" id="datos_c"/>
                                        <label for="datos_c" style="color:#EF7F13!important">¿Requiere
                                            canalización?</label>
                                    </p>
                                </div>
                            </div>

                            <div class="row sin_marg_bottom" id="datos_canalizacion">
                                <div class="col s12">
                                    <p style="text-align: center;">Canalizar a:</p>
                                </div>
                                <div class="input-field col s12 m12 l12">
                                    <select id="instituciones">
                                    </select>
                                </div>
                            </div>

                            <div class="col s12 txt_algn_center">
                                <p style="margin-top: 0px; text-align: center;">Estatus de la llamada</p>
                                <p style="margin-top: 0px; text-align: center;" id="estatus_llamada">
                                </p>
                            </div>


                            </form>
                        </div>
                        <div class="row">
                            <div class="col s12 center" style="margin-bottom: 5%;">
                                <button class="btn fondo_naranja redondo" type="submit" name="action">Transferir
                                </button>
                                <button class="btn fondo_naranja redondo" name="action" onclick="GuardarLLamada()">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="col s1 m1 l1"></div>
    </div>
{% endblock %}

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/crsfajax.js' %}"></script>
    <script type="text/javascript">
        var victima = {{ victima.pk }}
        $(document).ready(function () {
            $('select').material_select();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100,
                min: [1939, 1, 1],
                max: [2019, 1, 31],
                format: 'yyyy-mm-dd',
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                container: undefined // ex. 'body' will append picker to body
            });

            $('ul.tabs').tabs();


            $('#datos_c').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_canalizacion').hide();
                } else {
                    $('#datos_canalizacion').show();
                }

            })

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_tipos_violencia' %}",
                cache: false,
                success: function (json) {

                    $("#tipos_violencia").empty().html(' ');
                    $('#tipos_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Tipo de violencia")
                    );
                    for (i in json) {
                        $('#tipos_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#tipos_violencia').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_motivo_de_llamada' %}",
                cache: false,
                success: function (json) {

                    for (i in json) {
                        $('#tipo_llamada').append('<input class="with-gap" name="motivo_llamada" type="radio" value="' + json[i].pk + '" id="tl' + json[i].pk + '"/><label for="tl' + json[i].pk + '">' + json[i].nombre + '</label>');
                    }
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_tipificaciones' %}",
                cache: false,
                success: function (json) {

                    $("#tipificaciones").empty().html(' ');
                    $('#tipificaciones').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Tipificaciones")
                    );
                    for (i in json) {
                        $('#tipificaciones').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#tipificaciones').material_select();
                }
            });


            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_modalidad_violencia' %}",
                cache: false,
                success: function (json) {

                    $("#modalidad_violencia").empty().html(' ');
                    $('#modalidad_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Modalidad")
                    );
                    for (i in json) {
                        $('#modalidad_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#modalidad_violencia').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_fases_violencia' %}",
                cache: false,
                success: function (json) {

                    $("#fase_violencia").empty().html(' ');
                    $('#fase_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Fase de violencia")
                    );
                    for (i in json) {
                        $('#fase_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#fase_violencia').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_semaforo' %}",
                cache: false,
                success: function (json) {

                    $("#semaforo").empty().html(' ');
                    $('#semaforo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Semáforo")
                    );
                    for (i in json) {
                        $('#semaforo').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#semaforo').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_violentometro' %}",
                cache: false,
                success: function (json) {

                    $("#violentometro").empty().html(' ');
                    $('#violentometro').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Violentometro")
                    );
                    for (i in json) {
                        $('#violentometro').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#violentometro').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_victimas' %}",
                cache: false,
                success: function (json) {

                    $("#victimas").empty().html(' ');
                    $('#victimas').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Victimas")
                    );
                    for (i in json) {
                        $('#victimas').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#victimas').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_agresor' %}",
                cache: false,
                success: function (json) {

                    $("#agresor").empty().html(' ');
                    $('#agresor').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Agresor")
                    );
                    for (i in json) {
                        $('#agresor').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#agresor').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_redes_apoyo' %}",
                cache: false,
                success: function (json) {

                    $("#redes_apoyo").empty().html(' ');
                    $('#redes_apoyo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Redes de apoyo")
                    );
                    for (i in json) {
                        $('#redes_apoyo').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#redes_apoyo').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_medio_contacto' %}",
                cache: false,
                success: function (json) {

                    $("#medio_contacto").empty().html(' ');
                    $('#medio_contacto').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Medio de contacto")
                    );
                    for (i in json) {
                        $('#medio_contacto').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#medio_contacto').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_instituciones' %}",
                cache: false,
                success: function (json) {

                    $("#instituciones").empty().html(' ');
                    $('#instituciones').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Institución")
                    );
                    for (i in json) {
                        $('#instituciones').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#instituciones').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_estatus_llamada' %}",
                cache: false,
                success: function (json) {

                    for (i in json) {
                        $('#estatus_llamada').append('<input class="with-gap" name="estatus_llamada" type="radio" value="' + json[i].pk + '" id="ell' + json[i].pk + '"/><label for="ell' + json[i].pk + '">' + json[i].nombre + '</label>');
                    }
                }
            });

            // Carga de consejeros de la victima
            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_consejeros_victima' %}?victima=" + victima,
                cache: false,
                success: function (json) {
                    $("#consejeros").empty().html(' ');
                    $('#consejeros').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Consejeros")
                    );
                    for (i in json) {
                        $('#consejeros').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].get_full_name)
                        );
                    }
                    $('#consejeros').material_select();
                }
            });

            //Ultima llamada
            $.ajax({
                method: "GET",
                url: "{% url 'webservices:ultima_llamada' %}?victima=" + victima,
                cache: false,
                success: function (json) {
                    $("#ultima_llamada").empty().html(' ');
                    $('#ultima_llamada').html(json[0].fecha);
                }
            });

        });


        function CargarCatTipificacion() {
            var tipificacion = $('#tipificaciones').val();
            $('#categoria_tipificacion').empty().html(' ');
            if (tipificacion !== '') {
                $.ajax({
                    method: "GET",
                    url: "{% url 'webservices:list_tipificaciones_categorias' %}?tipificacion=" + tipificacion,
                    cache: false,
                    success: function (json) {

                        for (i in json) {
                            $('#categoria_tipificacion').append('<input class="with-gap" name="categoria_tipificacion" type="radio" value="' + json[i].pk + '" id="tic' + json[i].pk + '"/><label for="tic' + json[i].pk + '">' + json[i].nombre + '</label>');
                        }
                    }
                });
            }
        }

        function GuardarLLamada() {
            //var vida_riesgo = $("input[name='riesgo']:checked").val();
            var motivo_llamada = $("input[name='motivo_llamada']:checked").val();
            var causa_riesgo = $('#causa_riesgo').val();
            var tipificacion = $('#tipificaciones').val();
            var categoria_tipificacion = $("input[name='categoria_tipificacion']:checked").val();
            var descrip_tipificacion = $('#descrip_tipificacion').val();
            var modalidad_violencia = $('#modalidad_violencia').val();
            var tipo_violencia = $('#tipos_violencia').val();
            var fase_violencia = $('#fase_violencia').val();
            var semaforo = $('#semaforo').val();
            var violentometro = $('#violentometro').val();
            var victimas = $('#victimas').val();
            var agresor = $('#agresor').val();
            var redes_apoyo = $('#redes_apoyo').val();
            var medio_conatacto = $('#medio_contacto').val();
            var plan_accion = $('#plan_accion').val();
            var datos_canalizacion = $('#datos_c').prop('checked');
            var institucion = $('#instituciones').val();
            var estatus_llamada = $("input[name='estatus_llamada']:checked").val();


            $.ajax({
                method: "POST",
                url: "{% url 'webservices:registro_seguimiento' %}",
                cache: false,
                data: {
                    victima: victima,
                    motivo_llamada: motivo_llamada,
                    causa_riesgo: causa_riesgo,
                    categoria_tipificacion: categoria_tipificacion,
                    descripcion_tipificacion: descrip_tipificacion,
                    modalidad_violencia: modalidad_violencia,
                    tipo_violencia: tipo_violencia,
                    fase_violencia: fase_violencia,
                    semaforo: semaforo,
                    violentometro: violentometro,
                    victimas: victimas,
                    agresor: agresor,
                    redes_apoyo: redes_apoyo,
                    medio_contacto: medio_conatacto,
                    posible_solucion: plan_accion,
                    institucion: institucion,
                    estatus: estatus_llamada
                },
                success: function (json) {
                    window.location.href = "{% url 'consejero:registro_seguimiento' victima.pk %}";
                },
                error: function (request) {
                    alert(request.responseText);
                    var error = request
                }
            });

        }

        function BusquedaHistorial() {
            var mensaje_error = validarBusqueda()
            if (mensaje_error!=='Revisa los datos introducidos de:'){
                alert(mensaje_error);
                return
            }
            var consejero = $('#consejeros').val();
            var f_inicio = $('#fecha_inicio').val();
            var f_fin = $('#fecha_fin').val();
            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_historial_llamada' %}?victima=" + victima + '&consejero=' + consejero + '&f_inicio=' + f_inicio + '&f_fin=' + f_fin,
                cache: false,
                success: function (json) {
                    $("#historial").empty();
                    for (i in json) {
                    llamada = {
                        victima:  json[i].victima.nombre + ' ' + json[i].victima.apellido_paterno + ' ' + json[i].victima.apellido_materno,
                        consejero: json[i].consejero.get_full_name,
                        motivo_llamada: json[i].motivo.nombre,
                        id: json[i].id,
                        estatus: json[i].estatus.nombre,
                        plan_accion: json[i].posible_solucion,
                        causa_riesgo: json[i].causa_riesgo,
                    }
                        $('#historial').append(`<div class="row sin_marg_bottom">
                                    <div class="col s12 l6 m6">
                                <p><span class="font_naranja negritas">Nombre: </span>${llamada.victima}</p>
                            </div>
                            <div class="col s12 l6 m6">
                                <p><span class="font_naranja negritas">Id Caso: </span>${llamada.id}</p>
                            </div>
                            <div class="col s12 l6 m6">
                                <p><span class="font_naranja negritas">Consejero: </span>${llamada.consejero}</p>
                            </div>
                            <div class="col s12 l6 m6">
                                <p><span class="font_naranja negritas">Motivo Llamada: </span>${llamada.motivo_llamada}</p>
                            </div>
                            <div class="col s12">
                                <p><span class="font_naranja negritas">Estaus de la Llamada: </span>${llamada.estatus}</p>
                            </div>


                            <div class="col s12" style="margin-top: 20px;">
                                <p class="font_naranja negritas" style="text-align: center;">Motivo de Llamada </p>
                                <p>
                                    ${llamada.causa_riesgo}
                                </p>
                            </div>
                            <div class="col s12" style="margin-top: 20px;">
                                <p class="font_naranja negritas" style="text-align: center;">Plan de Acción</p>
                                <p>
                                    ${llamada.plan_accion}
                                </p>
                            </div>
                            <div class="col s12 txt_algn_center" style="margin-top: 20px; margin-bottom: 10%;">
                                <p style="margin-top: 0px; text-align: center;" class="font_naranja negritas">
                                    Tareas completas
                                </p>
                                <p>
                                    <input type="checkbox" id="tc1" checked="checked"/>
                                    <label for="tc1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Aenean euismod bibendum laoreet</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="tc2"/>
                                    <label for="tc2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Aenean euismod bibendum laoreet</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="tc3"/>
                                    <label for="tc3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Aenean euismod bibendum laoreet</label>
                                </p>
                            </div>
                            <hr></div>`
                        );
                    }
                }
            });

        }

        function validarBusqueda() {
            var consejero = $('#consejeros').val();
            var f_inicio = $('#fecha_inicio').val();
            var f_fin = $('#fecha_fin').val();
            var mensaje_error = 'Revisa los datos introducidos de:';
            if (consejero == ''){
                mensaje_error += '\nSelecciona un Consejero';
            }
            if (f_inicio == ''){
                mensaje_error += '\nFecha inicial';
            }
            else{
                var inicial = new Date(f_inicio)
            }
            if (f_fin == ''){
                mensaje_error += '\nFecha final';
            }
            else {
                var final = new Date(f_fin)
            }
            if (f_inicio !== '' && f_fin !== ''){
                if (inicial > final){
                    mensaje_error += '\nLa fecha inicial es mayor a la final'
                }
            }
            return mensaje_error
        }

    </script>
{% endblock %}


