{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block style %}
    <style type="text/css">
        [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
            padding-left: 24px;
            padding-right: 43px;
        }


        [type="checkbox"] + label {
            padding-left: 23px;
            padding-right: 30px;
        }

        #datos_canalizacion {
            display: none;
        }

        .tabs .tab a {
            border: solid 1px #EF7F13;
            color: black;
        }

        .tabs .tab a.active {
            background-color: #EF7F13;
            color: white;
        }

        .tabs .tab a:hover {
            background-color: #6E6D6D;
            color: white;
            border: none;
        }

    </style>
{% endblock %}
{% block content %}


    <div id="content">

        <div class="row fondo_blanco" style="padding-top: 10%;">
            <div class="col s1 m1 l1"></div>
            <div class="col s10 m10 l10" style="margin-top: 0px;">
                <div class="row">
                    <div class="col s12">
                        <p class="negritas font_azul_verde center titulos">FORMULARIO SEGUIMIENTO <a href="#!">
                            <img src="{% static 'imagenes/1/interrogacion.png' %}" class="responsive-img"></a></p>
                    </div>
                </div>
                <div class="row" style="padding: 1%;">
                    <div class="col s12" style="text-align: center;">
                        <ul class="tabs">
                            <li class="tab col s4"><a class="active" href="#test1">Datos Personales</a></li>
                            <li class="tab col s4"><a href="#test2">Atención</a></li>
                            <li class="tab col s4"><a href="#test3">Histórico</a></li>
                        </ul>
                    </div>
                    <form class="col s12" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="test1" class="col s12" style="margin-top: 40px;">
                            <div class="row sin_marg_bottom">
                                <div class="col s12" style="margin-bottom: 20px;">
                                    <h5 class="font_gris_oscuro" style="text-align: center;">Datos Personales</h5>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.telefono %}
                                    <label for="{{ form.telefono.auto_id }}">Teléfono</label>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.nombre %}
                                    <label for="{{ form.nombre.auto_id }}"> Nombre</label>
                                </div>
                            </div>
                            <div class="row sin_marg_bottom">
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.apellido_paterno %}
                                    <label for="{{ form.apellido_paterno.auto_id }}">Apellido Paterno</label>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.apellido_materno %}
                                    <label for="{{ form.apellido_materno.auto_id }}">Apellido Materno</label>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.fecha_nacimiento class+='datepicker' %}
                                    <label for="{{ form.fecha_nacimiento.auto_id }}">Fecha Nacimiento</label>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    {% render_field form.sexo %}
                                </div>
                            </div>
                            <div class="row sin_marg_bottom">
                                <div class=" input-field col s12 m6 l6">
                                    {% render_field form.cp %}
                                    <label for="{{ form.cp.auto_id }}">Código Postal</label>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    {% render_field form.colonia %}
                                    <label for="{{ form.colonia.auto_id }}"> Colonia</label>
                                </div>
                                <div class=" input-field col s12 m6 l6">
                                   {% render_field form.religion %}
                                    <label for="{{ form.religion.auto_id }}">Religión</label>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    {% render_field form.nivel_estudio %}
                                    <label for="{{ form.nivel_estudio.auto_id }}">Grado de estudios</label>
                                </div>

                                <div class="col s12" style="text-align: center; margin-top: 20px;">
                                    <button class="btn fondo_naranja redondo" type="submit" name="action">Guardar
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                        <div id="test3" class="col s12" style="margin-top: 40px;">
                            <div class="row sin_marg_bottom">
                                <div class="col s12" style="margin-bottom: 20px;">
                                    <h5 class="font_gris_oscuro" style="text-align: center;">Histórico</h5>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <select>
                                        <option value="" disabled selected>Consejeros</option>
                                        <option value="1">Juan</option>
                                        <option value="2">Carlos</option>
                                    </select>
                                </div>
                                <div class=" input-field col s12 m4 l4">
                                    <input type="text" class="datepicker" required="required" placeholder="DE">
                                </div>
                                <div class=" input-field col s12 m4 l4">
                                    <input type="text" class="datepicker" required="required" placeholder="A">
                                </div>
                            </div>
                            <div class="row sin_marg_bottom">
                                <div class="col s12 l6 m6">
                                    <p><span class="font_naranja negritas">Nombre: </span>Alejandro Figueroa</p>
                                </div>
                                <div class="col s12 l6 m6">
                                    <p><span class="font_naranja negritas">Id Caso: </span>123</p>
                                </div>
                                <div class="col s12 l6 m6">
                                    <p><span class="font_naranja negritas">Consejero: </span>Alejandro Figueroa</p>
                                </div>
                                <div class="col s12 l6 m6">
                                    <p><span class="font_naranja negritas">Motivo Llamada: </span>Seguimiento </p>
                                </div>
                                <div class="col s12">
                                    <p><span class="font_naranja negritas">Última Llamada: </span> XXXX </p>
                                </div>


                                <div class="col s12" style="margin-top: 20px;">
                                    <p class="font_naranja negritas" style="text-align: center;">Motivo de Llamada </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus.
                                    </p>
                                </div>
                                <div class="col s12" style="margin-top: 20px;">
                                    <p class="font_naranja negritas" style="text-align: center;">Plan de Acción</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus.
                                    </p>
                                </div>
                                <div class="col s12 txt_algn_center" style="margin-top: 20px; margin-bottom: 10%;">
                                    <p style="margin-top: 0px; text-align: center;" class="font_naranja negritas">
                                        Tareas completas
                                    </p>
                                        <p>
                                            <input type="checkbox" id="tc1" checked="checked"/>
                                            <label for="tc1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Aenean euismod bibendum laoreet</label>
                                        </p>
                                        <p>
                                            <input type="checkbox" id="tc2"/>
                                            <label for="tc2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Aenean euismod bibendum laoreet</label>
                                        </p>
                                        <p>
                                            <input type="checkbox" id="tc3"/>
                                            <label for="tc3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Aenean euismod bibendum laoreet</label>
                                        </p>
                                </div>
                                <hr>
                            </div>
                            <div class="row sin_marg_bottom">
                                <div class="col s12 l6 m6">
                                    <p><span class="font_naranja negritas">Nombre: </span>Alejandro Figueroa</p>
                                </div>
                                <div class="col s12 l6 m6">
                                    <p><span class="font_naranja negritas">Id Caso: </span>123</p>
                                </div>
                                <div class="col s12 l6 m6">
                                    <p><span class="font_naranja negritas">Consejero: </span>Alejandro Figueroa</p>
                                </div>
                                <div class="col s12 l6 m6">
                                    <p><span class="font_naranja negritas">Motivo Llamada: </span>Seguimiento </p>
                                </div>
                                <div class="col s12" style="margin-top: 20px;">
                                    <p class="font_naranja negritas" style="text-align: center;">Motivo Llamada </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus.
                                    </p>
                                </div>
                                <div class="col s12" style="margin-top: 20px;">
                                    <p class="font_naranja negritas" style="text-align: center;">Plan de Acción</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus.
                                    </p>
                                </div>
                                <div class="col s12 txt_algn_center" style="margin-top: 20px; margin-bottom: 10%;">
                                    <p style="margin-top: 0px; text-align: center;" class="font_naranja negritas">
                                        Tareas completas
                                    </p>
                                        <p>
                                            <input type="checkbox" id="tc4" checked="checked"/>
                                            <label for="tc4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Aenean euismod bibendum laoreet</label>
                                        </p>
                                        <p>
                                            <input type="checkbox" id="tc5"/>
                                            <label for="tc5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Aenean euismod bibendum laoreet</label>
                                        </p>
                                        <p>
                                            <input type="checkbox" id="tc6"/>
                                            <label for="tc6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Aenean euismod bibendum laoreet</label>
                                        </p>
                                </div>
                                <hr>
                            </div>
                        </div>


                        <div id="test2" class="col s12" style="margin-top: 40px;">
                            <div class="row sin_marg_bottom">
                                <div class="col s12" style="margin-bottom: 20px;">
                                    <h5 class="font_gris_oscuro" style="text-align: center;">
                                        Nuevo Servicio
                                    </h5>
                                </div>
                                <div class="col s12 txt_algn_center">
                                    <p style="margin-top: 0px;" class="negritas font_gris_oscuro">Tipo de Llamada</p>
                                    <p style="margin-top: 0px;">
                                        <input class="with-gap" name="group3" type="radio" id="tl1"/>
                                        <label for="tl1">Primera vez</label>
                                        <input class="with-gap" name="group3" type="radio" id="tl2"/>
                                        <label for="tl2">Recado</label>
                                        <input class="with-gap" name="group3" type="radio" id="tl3"/>
                                        <label for="tl3">Información</label>
                                        <input class="with-gap" name="group3" type="radio" id="tl4"/>
                                        <label for="tl4">Abandono Operativo</label>
                                    </p>
                                </div>


                                    <div class="row">
                                        <div class="col s12" style="padding-top: 15px;">
                                            <p class="font_gris_oscuro negritas">Motivo de llamada</p>
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea id="textarea1" class="materialize-textarea"
                                                      placeholder="Causa de riesgo"
                                                      style="padding-left: 14px;"></textarea>

                                        </div>
                                    </div>


                                <div class="col s12 txt_algn_center">
                                    <p style="margin-top: 0px;" class="negritas font_gris_oscuro">Problemática a
                                        atender</p>
                                    <p style="margin-top: 0px;">
                                        <input class="with-gap" name="group10" type="radio" id="pa1"/>
                                        <label for="pa1">Médico</label>
                                        <input class="with-gap" name="group10" type="radio" id="pa2"/>
                                        <label for="pa2">Legal</label>
                                        <input class="with-gap" name="group10" type="radio" id="pa3"/>
                                        <label for="pa3">Sicológico</label>

                                    </p>
                                </div>


                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="textarea1" class="materialize-textarea"
                                                      placeholder="Problemática" style="padding-left: 14px;"></textarea>

                                        </div>
                                    </div>



                                <div class="col s12 txt_algn_center">
                                    <p style="margin-top: 0px;" class="negritas font_gris_oscuro">
                                        Tipificación
                                    </p>

                                        <p>
                                            <input type="checkbox" id="tp1"/>
                                            <label for="tp1">Checkbox</label>
                                            <input type="checkbox" id="tp2"/>
                                            <label for="tp2">Checkbox</label>
                                            <input type="checkbox" id="tp3"/>
                                            <label for="tp3">Checkbox</label>
                                            <input type="checkbox" id="tp4"/>
                                            <label for="tp4">Checkbox</label>
                                        </p>
                                        <p>
                                            <input type="checkbox" id="tp5"/>
                                            <label for="tp5">Checkbox</label>
                                            <input type="checkbox" id="tp6"/>
                                            <label for="tp6">Checkbox</label>
                                            <input type="checkbox" id="tp7"/>
                                            <label for="tp7">Checkbox</label>
                                            <input type="checkbox" id="tp8"/>
                                            <label for="tp8">Checkbox</label>
                                        </p>

                                </div>
                            </div>
                            <div class="row sin_marg_bottom" style="margin-bottom: 0px;">

                                    <div class="row">
                                        <div class="col s12" style="padding-top: 15px;">
                                            <p class="negritas font_gris_oscuro">¿Qué acciones tiene que realizar para
                                                la siguiente llamada?</p>
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea id="textarea1" class="materialize-textarea"
                                                      placeholder="Plan de acción"
                                                      style="padding-left: 14px;"></textarea>

                                        </div>
                                    </div>

                            </div>
                            <div class="row sin_marg_bottom">
                                <div class="col s12">
                                    <p class="negritas font_gris_oscuro">Tareas o actividades recomendadas</p>
                                </div>
                                <div class="input-field col s12">
                                    <input id="texto" type="text" class="validate" required="required"
                                           placeholder="Tarea 1">
                                </div>
                                <div class="input-field col s12">
                                    <input id="texto" type="text" class="validate" required="required"
                                           placeholder="Tarea 2">
                                </div>
                                <div class="input-field col s12">
                                    <input id="texto" type="text" class="validate" required="required"
                                           placeholder="Tarea 3">
                                </div>
                            </div>
                            <div class="row sin_marg_bottom">
                                <div class="col s12">
                                    <p>
                                        <input type="checkbox" id="datos_c"/>
                                        <label for="datos_c" style="color:#EF7F13!important">¿Requiere
                                            canalización?</label>
                                    </p>
                                </div>
                            </div>
                            <div class="row sin_marg_bottom" id="datos_canalizacion">
                                <div class="col s12">
                                    <p style="text-align: center;">Canalizar a:</p>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <select>
                                        <option value="" disabled selected>------</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                                <div class="input-field col s12 m6 l6">
                                    <select>
                                        <option value="" disabled selected>--------</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col s12 center" style="margin-bottom: 5%;">
                                <button class="btn fondo_naranja redondo" type="submit" name="action">Transferir
                                </button>
                                <button class="btn fondo_naranja redondo" type="submit" name="action">Guardar</button>
                            </div>
                        </div>


                </div>

            </div>
        </div>
        <div class="col s1 m1 l1"></div>
    </div>
{% endblock %}

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100,
                min: [1939, 1, 1],
                max: [2019, 1, 31],
                format: 'yyyy-mm-dd',
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                container: undefined // ex. 'body' will append picker to body
            });

            $('ul.tabs').tabs();


            $('#datos_c').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_canalizacion').hide();
                } else {
                    $('#datos_canalizacion').show();
                }

            })

        });

    </script>
{% endblock %}


