{% extends 'config/base.html' %}
{% load static %}

{% block content %}
    <div class="row fondo_blanco" style="padding-top: 10%;">
        <div class="col s1 m1 l1"></div>
        <div class="col s10 m10 l10" style="margin-top: 0px;">
            <div class="row">
                <div class="col s12">
                    <p class="negritas font_azul_verde center titulos">FORMULARIO <a href="#!"><img
                            src="{% static 'imagenes/1/interrogacion.png' %}" class="responsive-img"></a></p>
                </div>
            </div>
            <div class="row" style="padding: 1%;">
                <form class="col s12">
                    <div class="row sin_marg_bottom">
                        <div class=" col s12 txt_algn_center">
                            <p style="font-size: 20px; text-align: center;">¿Existe riesgo de vida?</p>
                            <p style="text-align: center;">
                                <input class="with-gap" name="group1" type="radio" id="rv1"/>
                                <label for="rv1" style="font-size: 18px;">Sí</label>
                                <input class="with-gap" name="group1" type="radio" id="rv2"/>
                                <label for="rv2" style="font-size: 18px;">No</label>
                            </p>
                        </div>
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="datos_p"/>
                                <label for="datos_p" style="color:#EF7F13!important">Datos personales</label>
                            </p>
                        </div>

                    </div>
                    <div class="row sin_marg_bottom">
                        <div class=" input-field col s12 m6 l6">
                            <input id="texto" type="number" class="validate" required="required">
                            <label for="texto">Teléfono</label>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <input id="texto" type="text" class="validate" required="required">
                            <label for="texto"> Nombre o alias</label>
                        </div>
                    </div>
                    <div id="datos_personales" class="row sin_marg_bottom">
                        <div class=" input-field col s12 m4 l4">
                            <input id="texto" type="text" class="validate" required="required">
                            <label for="texto">Apellido Paterno</label>
                        </div>
                        <div class=" input-field col s12 m4 l4">
                            <input id="texto" type="text" class="validate" required="required">
                            <label for="texto">Apellido Materno</label>
                        </div>
                        <div class=" input-field col s12 m4 l4">
                            <input type="text" class="datepicker" required="required">
                            <label for="texto">Fecha Nacimiento</label>
                        </div>
                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="input-field col s12 m4 l4">
                            <select id="sexo">
                            </select>
                        </div>
                        <div class=" input-field col s12 m4 l4">
                            <input id="texto" type="number" class="validate" required="required">
                            <label for="texto">Código Postal</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            <input id="texto" type="text" class="validate" required="required">
                            <label for="texto"> Colonia</label>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="datos_s"/>
                                <label for="datos_s" style="color:#EF7F13!important">Datos
                                    sociodemográficos</label>
                            </p>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom" id="datos_sociode">
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Religión</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Grado de estudios</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="col s12 m6 l6 txt_algn_center">
                            <p style="margin-top: 0px;">Trabajo remunerado</p>
                            <p style="margin-top: 0px;">
                                <input class="with-gap" name="group2" type="radio" id="test1"/>
                                <label for="test1">Sí</label>
                                <input class="with-gap" name="group2" type="radio" id="test2"/>
                                <label for="test2">No</label>
                            </p>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Ocupación</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>

                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p class="font_naranja">
                                Línea Origen
                            </p>
                        </div>
                        <div class="col s12 txt_algn_center">
                            <p style="margin-top: 0px; text-align: center;">Tipo de Llamada</p>
                            <p style="margin-top: 0px; text-align: center;">
                                <input class="with-gap" name="group2" type="radio" id="tl1"/>
                                <label for="tl1">Primera vez</label>
                                <input class="with-gap" name="group2" type="radio" id="tl2"/>
                                <label for="tl2">Recado</label>
                                <input class="with-gap" name="group2" type="radio" id="tl3"/>
                                <label for="tl3">Información</label>
                                <input class="with-gap" name="group2" type="radio" id="tl4"/>
                                <label for="tl4">Abandono Operativo</label>
                            </p>
                        </div>

                        <form class="col s12">
                            <div class="row">
                                <div class="col s12" style="padding-top: 15px;">
                                    <p style="text-align: center;">Motivo de llamada</p>
                                </div>
                                <div class="input-field col s12">
                                            <textarea id="textarea1" class="materialize-textarea"
                                                      placeholder="Causa de riesgo"
                                                      style="padding-left: 14px;"></textarea>

                                </div>
                            </div>
                        </form>
                        <div class="col s12 txt_algn_center">
                            <p style="margin-top: 0px; text-align: center;">
                                Tipificación
                            </p>
                            <form action="#">
                                <p style="text-align: center;">
                                    <input type="checkbox" id="tp1"/>
                                    <label for="tp1">Violencia</label>
                                    <input type="checkbox" id="tp2"/>
                                    <label for="tp2">Intento de suicidio</label>
                                    <input type="checkbox" id="tp3"/>
                                    <label for="tp3">Depresión</label>
                                    <input type="checkbox" id="tp4"/>
                                    <label for="tp4">Abuso Sexual</label>
                                </p>
                                <p style="text-align: center;">
                                    <input type="checkbox" id="tp5"/>
                                    <label for="tp5">Checkbox</label>
                                    <input type="checkbox" id="tp6"/>
                                    <label for="tp6">Checkbox</label>
                                    <input type="checkbox" id="tp7"/>
                                    <label for="tp7">Checkbox</label>
                                    <input type="checkbox" id="tp8"/>
                                    <label for="tp8">Checkbox</label>
                                </p>
                            </form>
                        </div>
                    </div>


                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p class=" negritas" style="font-size: 20px; text-align: center;">
                                Recomendaciones</p>
                            <p>1. ansdbmnbasdmasd</p>
                            <p>2. sndkjans,dnas,d</p>
                            <p>3. lakjsdlkasldasd</p>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Modalidad</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="tipos_violencia">

                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Fase de violencia</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Semáforo</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Violentometro</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Victimas</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Agresor</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>Redes de apoyo</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s12" style="padding-top: 15px;">
                                    <p style="text-align: center;">¿Qué acciones tiene que realizar para la
                                        siguiente llamada?</p>
                                </div>
                                <div class="input-field col s12">
                                            <textarea id="textarea1" class="materialize-textarea"
                                                      placeholder="Plan de acción"
                                                      style="padding-left: 14px;"></textarea>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p style="text-align: center;">Tareas o actividades recomendadas</p>
                        </div>
                        <div class="input-field col s12">
                            <input id="texto" type="text" class="validate" required="required"
                                   placeholder="Tarea 1">
                        </div>
                        <div class="input-field col s12">
                            <input id="texto" type="text" class="validate" required="required"
                                   placeholder="Tarea 2">
                        </div>
                        <div class="input-field col s12">
                            <input id="texto" type="text" class="validate" required="required"
                                   placeholder="Tarea 3">
                        </div>
                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="datos_c"/>
                                <label for="datos_c" style="color:#EF7F13!important">¿Requiere
                                    canalización?</label>
                            </p>
                        </div>
                    </div>

                    <div class="row sin_marg_bottom" id="datos_canalizacion">
                        <div class="col s12">
                            <p style="text-align: center;">Canalizar a:</p>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select>
                                <option value="" disabled selected>--------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>


                </form>
            </div>
            <div class="row">
                <div class="col s12 center" style="margin-bottom: 5%;">
                    <button class="btn fondo_naranja redondo" type="submit" name="action">Transferir</button>
                    <button class="btn fondo_naranja redondo" type="submit" name="action">Guardar</button>
                </div>
            </div>
        </div>
        <div class="col s1 m1 l1"></div>
    </div>

{% endblock %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
{% block scripts %}


    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100,
                min: [1939, 1, 1],
                max: [2019, 1, 31],
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                container: undefined // ex. 'body' will append picker to body
            });


            $('#datos_p').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_personales').hide();
                } else {
                    $('#datos_personales').show();
                }

            })

            $('#datos_s').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_sociode').hide();
                } else {
                    $('#datos_sociode').show();
                }

            })

            $('#datos_c').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_canalizacion').hide();
                } else {
                    $('#datos_canalizacion').show();
                }

            })

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_sexos' %}",
                cache: false,
                success: function (json) {
                    console.log(json)
                    $("#sexo").empty().html(' ');
                    $('#sexo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Sexo")
                    );
                    for (i in json) {
                        $('#sexo').append(
                            $("<option></option>")
                                .attr("value", json[i].id)
                                .text(json[i].nombre)
                        );
                    }
                    $('#sexo').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_tipos_violencia' %}",
                cache: false,
                success: function (json) {
                    console.log(json)
                    $("#tipos_violencia").empty().html(' ');
                    $('#tipos_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Tipo de violencia")
                    );
                    for (i in json) {
                        $('#tipos_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].id)
                                .text(json[i].nombre)
                        );
                    }
                    $('#tipos_violencia').material_select();
                }
            });

        });

    </script>
{% endblock %}
