{% extends 'config/base.html' %}
{% load static %}

{% block style %}
    <style type="text/css">

        [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
            padding-left: 24px;
            padding-right: 43px;
        }

        #datos_personales {
            display: none;
        }

        #datos_hijos {
            display: none;
        }

        #datos_sociode {
            display: none;
        }

        [type="checkbox"] + label {
            padding-left: 23px;
            padding-right: 30px;
        }

        #datos_canalizacion {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row fondo_blanco" style="padding-top: 10%;">
        <div class="col s1 m1 l1"></div>
        <div class="col s10 m10 l10" style="margin-top: 0px;">
            <div class="row">
                <div class="col s12">
                    <p class="negritas font_azul_verde center titulos">FORMULARIO <a href="#!"><img
                            src="{% static 'imagenes/1/interrogacion.png' %}" class="responsive-img"></a></p>
                </div>
            </div>
            <div class="row" style="padding: 1%;">
                <form class="col s12">
                    <div class="row sin_marg_bottom">
                        <div class=" col s12 txt_algn_center">
                            <p style="font-size: 20px; text-align: center;">¿Existe riesgo de vida?</p>
                            <p style="text-align: center;">
                                <input class="with-gap" name="riesgo" type="radio" id="rv1" value="1"/>
                                <label for="rv1" style="font-size: 18px;">Sí</label>
                                <input class="with-gap" name="riesgo" type="radio" id="rv2" value="0">
                                <label for="rv2" style="font-size: 18px;">No</label>
                            </p>
                        </div>
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="datos_p"/>
                                <label for="datos_p" style="color:#EF7F13!important">Datos personales</label>
                            </p>
                        </div>

                    </div>
                    <div class="row sin_marg_bottom">
                        <div class=" input-field col s12 m6 l6">
                            <input id="telefono" type="number" class="validate" required="required">
                            <label for="telefono">Teléfono</label>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <input id="nombre_alias" type="text" class="validate" required="required">
                            <label for="nombre_alias"> Nombre o alias</label>
                        </div>
                    </div>
                    <div id="datos_personales" class="row sin_marg_bottom">
                        <div class=" input-field col s12 m4 l4">
                            <input id="a_paterno" type="text" class="validate" required="required">
                            <label for="a_paterno">Apellido Paterno</label>
                        </div>
                        <div class=" input-field col s12 m4 l4">
                            <input id="a_materno" type="text" class="validate" required="required">
                            <label for="a_materno">Apellido Materno</label>
                        </div>
                        <div class=" input-field col s12 m4 l4">
                            <input type="text" class="datepicker" required="required" id="fecha_nac">
                            <label for="fecha_nac">Fecha Nacimiento</label>
                        </div>
                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="input-field col s12 m4 l4">
                            <select id="sexo">
                            </select>
                        </div>
                        <div class=" input-field col s12 m4 l4">
                            <input id="cp" type="number" class="validate" required="required">
                            <label for="cp">Código Postal</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            <input id="colonia" type="text" class="validate" required="required">
                            <label for="colonia"> Colonia</label>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="t_hijos"/>
                                <label for="t_hijos" style="color:#EF7F13!important">Tiene hijos</label>
                            </p>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom" id="datos_hijos">

                        <div class=" input-field col s12 m6 l6">
                            <input id="hijos_menores" type="number" class="validate" min="0">
                            <label for="hijos_menores"># Hijos menores</label>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <input id="hijos_mayores" type="number" class="validate" min="0">
                            <label for="hijos_mayores"># Hijos mayores</label>
                        </div>

                    </div>
                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="datos_s"/>
                                <label for="datos_s" style="color:#EF7F13!important">Datos
                                    sociodemográficos</label>
                            </p>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom" id="datos_sociode">
                        <div class="input-field col s12 m6 l6">
                            <select id="religion">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="grado_estudios">
                            </select>
                        </div>
                        <div class="col s12 m6 l6 txt_algn_center">
                            <p style="margin-top: 0px;">Trabajo remunerado</p>
                            <p style="margin-top: 0px;">
                                <input class="with-gap" name="trab_remunerado" type="radio" id="test1" value="1"/>
                                <label for="test1">Sí</label>
                                <input class="with-gap" name="trab_remunerado" type="radio" id="test2" value="0"/>
                                <label for="test2">No</label>
                            </p>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <select id="ocupaciones">
                            </select>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <select id="vive_con">
                            </select>
                        </div>

                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p class="font_naranja">
                                Línea Origen
                            </p>
                        </div>
                        <div class="col s12 txt_algn_center">
                            <p style="margin-top: 0px; text-align: center;">Tipo de servicio</p>
                            <p style="margin-top: 0px; text-align: center;" id="tipo_llamada">
                            </p>
                        </div>

                        <form class="col s12">
                            <div class="row">
                                <div class="col s12" style="padding-top: 15px;">
                                    <p style="text-align: center;">Desarrollo del caso</p>
                                </div>
                                <div class="input-field col s12">
                                            <textarea id="causa_riesgo" class="materialize-textarea"
                                                      placeholder="Desarrollo del caso"
                                                      style="padding-left: 14px;" maxlength="512"></textarea>

                                </div>
                            </div>
                            <div class="col s12 txt_algn_center">
                                <div class="col s12">
                                    <p style="text-align: center;">Cómo se enteró</p>
                                </div>
                                <div class="input-field col s12 m12 l12">
                                    <select id="como_se_entero">
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="col s12 txt_algn_center">
                            <p style="margin-top: 0px; text-align: center;">
                                Motivo de consulta
                            </p>
                            <div class="row">
                                <div class=" input-field col s12 m12 l12">
                                    <select id="tipificaciones" onchange="CargarCatTipificacion()">
                                    </select>
                                </div>
                            </div>
                            <form action="#">
                                <p style="text-align: center;" id="categoria_tipificacion">

                                </p>
                                <div class="row">
                                    <div class="col s12" id="recomendaciones" hidden>
                                        <p class=" negritas" style="font-size: 20px; text-align: center;">
                                            Recomendaciones</p>
                                        <div id="desc_recomendaciones"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <p style="margin-top: 0px; text-align: center;">Nivel de riesgo</p>
                                    <div class="input-field col s12">
                                        <select id="nivel_riesgo">
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12" style="padding-top: 15px;">
                                        <p style="text-align: center;">Fortalezas</p>
                                    </div>
                                    <div class="input-field col s12">
                                            <textarea id="f" class="materialize-textarea"
                                                      placeholder="Fortalezas"
                                                      style="padding-left: 14px;" maxlength="4096"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12" style="padding-top: 15px;">
                                        <p style="text-align: center;">Recursos</p>
                                    </div>
                                    <div class="input-field col s12">
                                            <textarea id="recursos" class="materialize-textarea"
                                                      placeholder="Recursos"
                                                      style="padding-left: 14px;" maxlength="4096"></textarea>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12" style="padding-top: 15px;">
                                        <p style="text-align: center;">Intervención</p>
                                    </div>
                                    <div class="input-field col s12">
                                            <textarea id="intervencion" class="materialize-textarea"
                                                      placeholder="Intervención"
                                                      style="padding-left: 14px;" maxlength="4096"></textarea>

                                    </div>
                                </div>
                                <p style="text-align: center;">
                                    <!--
                                    <input type="checkbox" id="tp5"/>
                                    <label for="tp5">Checkbox</label>
                                    -->

                                </p>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <select id="fase_cambio">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12" style="padding-top: 15px;">
                            <p style="text-align: center;">Examen de salud mental</p>
                        </div>
                        <div class="input-field col s12">
                            <select id="em_ute">
                            </select>
                        </div>
                        <div class="input-field col s12">
                            <select id="em_p">
                            </select>
                        </div>
                        <div class="input-field col s12">
                            <select id="em_l">
                            </select>
                        </div>
                        <div class="input-field col s12">
                            <select id="em_m">
                            </select>
                        </div>
                        <div class="input-field col s12">
                            <select id="em_a">
                            </select>
                        </div>
                    </div>

                    <div class="row sin_marg_bottom">
                        <div class="input-field col s12 m6 l6">
                            <select id="modalidad_violencia">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="tipos_violencia">

                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="fase_violencia">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="semaforo">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="violentometro">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="victimas">
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select id="agresor">
                            </select>
                        </div>
                        <div class=" input-field col s12 m6 l6">
                            <select id="medio_contacto">
                            </select>
                        </div>
                    </div>
                    <div class="row sin_marg_bottom">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s12" style="padding-top: 15px;">
                                    <p style="text-align: center;">¿Qué acciones tiene que realizar para la
                                        siguiente llamada?</p>
                                </div>
                                <div class="input-field col s12">
                                            <textarea id="plan_accion" class="materialize-textarea"
                                                      placeholder="Plan de acción"
                                                      style="padding-left: 14px;"></textarea>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p style="text-align: center;">Tareas o actividades recomendadas</p>
                        </div>
                        <div class="input-field col s12">
                            <input id="tarea1" type="text" class="validate" required="required"
                                   placeholder="Tarea 1">
                        </div>
                        <div class="input-field col s12">
                            <input id="tarea2" type="text" class="validate" required="required"
                                   placeholder="Tarea 2">
                        </div>
                        <div class="input-field col s12">
                            <input id="tarea3" type="text" class="validate" required="required"
                                   placeholder="Tarea 3">
                        </div>
                    </div>
                    {% if consejero.tipo_usuario.pk == 1 %}
                        <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="devolver_llamada"/>
                                <label for="devolver_llamada" style="color:#EF7F13!important">¿Acepta que le devuelvan la llamada?</label>
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row sin_marg_bottom">
                        <div class="col s12">
                            <p>
                                <input type="checkbox" id="datos_c"/>
                                <label for="datos_c" style="color:#EF7F13!important">¿Requiere canalización?</label>
                            </p>
                        </div>
                    </div>

                    <div class="row sin_marg_bottom" id="datos_canalizacion">
                        <div class="col s12">
                            <p style="text-align: center;">Canalizar a: <a
                                    href="{% url 'administrador:list_acude_institucion' %}" target="_blank">
                                <button class="btn fondo_naranja redondo" style="width: 125px; height: 30px; font-size: xx-small; padding-left: 10px; padding-right: 10px">+ Nueva institución</button>
                            </a></p>
                        </div>
                        <div class="col s12 m12 l12">
                            <button onclick="reloadInstituciones()" class="btn fondo_naranja redondo"
                                    style="width: 50px; height: 30px; font-size: xx-small; padding-left: 10px; padding-right: 10px">
                                <i class="material-icons" style="cursor: pointer">refresh</i>
                            </button>
                            <select class="browser-default js-example-basic-single" id="instituciones"
                                    style="width: 85%">
                            </select>
                        </div>
                    </div>

                    <div class="col s12 txt_algn_center">
                        <p style="margin-top: 0px; text-align: center;">Estatus de la llamada</p>
                        <p style="margin-top: 0px; text-align: center;" id="estatus_llamada">
                        </p>
                    </div>


                </form>
            </div>
            <div class="row">
                <div class="col s12 center" style="margin-bottom: 5%;">
                    <button class="btn fondo_naranja redondo" type="submit" name="action">Transferir</button>
                    <button class="btn fondo_naranja redondo" name="action" onclick="GuardarLLamada()">Guardar</button>
                </div>
            </div>
        </div>
        <div class="col s1 m1 l1"></div>
    </div>

{% endblock %}
{% block scripts %}


    <script type="text/javascript" src="{% static 'js/crsfajax.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100,
                min: [1939, 1, 1],
                format: 'yyyy-mm-dd',
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                container: undefined // ex. 'body' will append picker to body
            });


            $('#datos_p').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_personales').hide();
                } else {
                    $('#datos_personales').show();
                }

            })

            $('#datos_s').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_sociode').hide();
                } else {
                    $('#datos_sociode').show();
                }

            })

            $('#t_hijos').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_hijos').hide();
                } else {
                    $('#datos_hijos').show();
                }

            })

            $('#datos_c').change(function () {
                if (!$(this).prop('checked')) {
                    $('#datos_canalizacion').hide();
                } else {
                    $('#datos_canalizacion').show();
                }

            })

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_sexos' %}",
                cache: false,
                success: function (json) {

                    $("#sexo").empty().html(' ');
                    $('#sexo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Sexo")
                    );
                    for (i in json) {
                        $('#sexo').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#sexo').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_religiones' %}",
                cache: false,
                success: function (json) {

                    $("#religion").empty().html(' ');
                    $('#religion').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Religión")
                    );
                    for (i in json) {
                        $('#religion').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#religion').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_grado_estudios' %}",
                cache: false,
                success: function (json) {

                    $("#grado_estudios").empty().html(' ');
                    $('#grado_estudios').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Grado de estudios")
                    );
                    for (i in json) {
                        $('#grado_estudios').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#grado_estudios').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_ocupaciones' %}",
                cache: false,
                success: function (json) {

                    $("#ocupaciones").empty().html(' ');
                    $('#ocupaciones').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Ocupación")
                    );
                    for (i in json) {
                        $('#ocupaciones').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#ocupaciones').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_tipos_violencia' %}",
                cache: false,
                success: function (json) {

                    $("#tipos_violencia").empty().html(' ');
                    $('#tipos_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Tipo de violencia")
                    );
                    for (i in json) {
                        $('#tipos_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#tipos_violencia').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_motivo_de_llamada' %}",
                cache: false,
                success: function (json) {

                    for (i in json) {
                        $('#tipo_llamada').append('<input class="with-gap" name="motivo_llamada" type="radio" value="' + json[i].pk + '" id="tl' + json[i].pk + '"/><label for="tl' + json[i].pk + '">' + json[i].nombre + '</label>');
                    }
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_tipificaciones' %}",
                cache: false,
                success: function (json) {

                    $("#tipificaciones").empty().html(' ');
                    $('#tipificaciones').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Motivo de consulta")
                    );
                    for (i in json) {
                        $('#tipificaciones').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#tipificaciones').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_nivel_riesgo' %}",
                cache: false,
                success: function (json) {

                    $("#nivel_riesgo").empty().html(' ');
                    $('#nivel_riesgo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Nivel de riesgo")
                    );
                    for (i in json) {
                        $('#nivel_riesgo').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#nivel_riesgo').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_fase_cambio' %}",
                cache: false,
                success: function (json) {

                    $("#fase_cambio").empty().html(' ');
                    $('#fase_cambio').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Fase de cambio")
                    );
                    for (i in json) {
                        $('#fase_cambio').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#fase_cambio').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_estado_mental' %}",
                cache: false,
                success: function (json) {

                    $("#em_ute").empty().html(' ');
                    $("#em_p").empty().html(' ');
                    $("#em_l").empty().html(' ');
                    $("#em_m").empty().html(' ');
                    $("#em_a").empty().html(' ');

                    $('#em_ute').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("UTE")
                    );
                    for (i in json) {
                        $('#em_ute').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }

                    $('#em_p').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("P")
                    );
                    for (i in json) {
                        $('#em_p').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }

                    $('#em_l').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("L")
                    );
                    for (i in json) {
                        $('#em_l').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }

                    $('#em_m').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("M")
                    );
                    for (i in json) {
                        $('#em_m').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }

                    $('#em_a').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("A")
                    );
                    for (i in json) {
                        $('#em_a').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#em_ute').material_select();
                    $('#em_p').material_select();
                    $('#em_l').material_select();
                    $('#em_m').material_select();
                    $('#em_a').material_select();
                }
            });


            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_modalidad_violencia' %}",
                cache: false,
                success: function (json) {

                    $("#modalidad_violencia").empty().html(' ');
                    $('#modalidad_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Modalidad")
                    );
                    for (i in json) {
                        $('#modalidad_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#modalidad_violencia').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_fases_violencia' %}",
                cache: false,
                success: function (json) {

                    $("#fase_violencia").empty().html(' ');
                    $('#fase_violencia').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Fase de violencia")
                    );
                    for (i in json) {
                        $('#fase_violencia').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#fase_violencia').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_semaforo' %}",
                cache: false,
                success: function (json) {

                    $("#semaforo").empty().html(' ');
                    $('#semaforo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Semáforo")
                    );
                    for (i in json) {
                        $('#semaforo').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#semaforo').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_violentometro' %}",
                cache: false,
                success: function (json) {

                    $("#violentometro").empty().html(' ');
                    $('#violentometro').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Violentometro")
                    );
                    for (i in json) {
                        $('#violentometro').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#violentometro').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_victimas' %}",
                cache: false,
                success: function (json) {

                    $("#victimas").empty().html(' ');
                    $('#victimas').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Victimas")
                    );
                    for (i in json) {
                        $('#victimas').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#victimas').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_agresor' %}",
                cache: false,
                success: function (json) {

                    $("#agresor").empty().html(' ');
                    $('#agresor').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Agresor")
                    );
                    for (i in json) {
                        $('#agresor').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#agresor').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_vive_con' %}",
                cache: false,
                success: function (json) {

                    $("#vive_con").empty().html(' ');
                    $('#vive_con').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Vive con")
                    );
                    for (i in json) {
                        $('#vive_con').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#vive_con').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_medio_contacto' %}",
                cache: false,
                success: function (json) {

                    $("#medio_contacto").empty().html(' ');
                    $('#medio_contacto').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Medio de contacto")
                    );
                    for (i in json) {
                        $('#medio_contacto').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#medio_contacto').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_instituciones' %}",
                cache: false,
                success: function (json) {

                    $("#instituciones").empty().html(' ');
                    $('#instituciones').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Institución")
                    );
                    for (i in json) {
                        $('#instituciones').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#instituciones').material_select();
                    $('.js-example-basic-single').select2();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_estatus_llamada' %}",
                cache: false,
                success: function (json) {

                    for (i in json) {
                        $('#estatus_llamada').append('<input class="with-gap" name="estatus_llamada" type="radio" value="' + json[i].pk + '" id="ell' + json[i].pk + '"/><label for="ell' + json[i].pk + '">' + json[i].nombre + '</label>');
                    }
                }
            });


            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_como_se_entero' %}",
                cache: false,
                success: function (json) {

                    $("#como_se_entero").empty().html(' ');
                    $('#como_se_entero').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Cómo se enteró")
                    );
                    for (i in json) {
                        $('#como_se_entero').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#como_se_entero').material_select();
                }
            });


        });

        function CargarCatTipificacion() {
            var tipificacion = $('#tipificaciones').val();
            $('#categoria_tipificacion').empty().html(' ');
            if (tipificacion !== '') {
                var vida_riesgo = $("input[name='riesgo']:checked").val();
                console.log(vida_riesgo)
                if (vida_riesgo == "1") {
                    $('#desc_recomendaciones').empty().html(' ');
                    $("#recomendaciones").show();
                    $.ajax({
                        method: "GET",
                        url: "{% url 'webservices:list_recomendaciones_riesgo' %}?tipificacion=" + tipificacion,
                        cache: false,
                        success: function (json) {

                            var indice = 1;
                            for (i in json) {
                                $('#desc_recomendaciones').append('<p>' + (indice) + '.- ' + json[i].nombre + '</p>');
                                indice = indice + 1;
                            }
                        }
                    });
                } else {
                    $("#recomendaciones").hide();

                }

                $.ajax({
                    method: "GET",
                    url: "{% url 'webservices:list_tipificaciones_categorias' %}?tipificacion=" + tipificacion,
                    cache: false,
                    success: function (json) {

                        for (i in json) {
                            $('#categoria_tipificacion').append('<input class="with-gap" name="categoria_tipificacion" type="radio" value="' + json[i].pk + '" id="tic' + json[i].pk + '"/><label for="tic' + json[i].pk + '">' + json[i].nombre + '</label>');
                        }
                    }
                });
            }
        }

        function GuardarLLamada() {
            var vida_riesgo = $("input[name='riesgo']:checked").val();
            var datos_personales = $('#datos_p').prop('checked'); //Esta seleccionado datos personales?
            //if (datos_personales) {
            var a_paterno = $('#a_paterno').val();
            var a_materno = $('#a_materno').val();
            var fecha_nac = $('#fecha_nac').val();
            //}
            var tel = $('#telefono').val();
            var nombre = $('#nombre_alias').val();
            var sexo = $('#sexo').val();
            var cp = $('#cp').val();
            var col = $('#colonia').val();
            var datos_sociodemograficos = $('#datos_s').prop('checked'); //Esta seleccionado datos sociodemograficos?
            //if (datos_sociodemograficos) {
            var religion = $('#religion').val();
            var grado_estudios = $('#grado_estudios').val();
            var ocupacion = $('#ocupaciones').val();
            var trab_remunerado = $("input[name='trab_remunerado']:checked").val();
            //}
            var motivo_llamada = $("input[name='motivo_llamada']:checked").val();
            var causa_riesgo = $('#causa_riesgo').val();
            var tipificacion = $('#tipificaciones').val();
            var categoria_tipificacion = $("input[name='categoria_tipificacion']:checked").val();
            var nivel_riesgo = $('#nivel_riesgo').val();
            var f = $('#f').val();
            var recursos = $('#recursos').val();
            var intervencion = $('#intervencion').val();
            var estado_mental_ute = $('#em_ute').val();
            var estado_mental_p = $('#em_p').val();
            var estado_mental_l = $('#em_l').val();
            var estado_mental_m = $('#em_m').val();
            var estado_mental_a = $('#em_a').val();
            var fase_cambio = $('#fase_cambio').val();
            var modalidad_violencia = $('#modalidad_violencia').val();
            var tipo_violencia = $('#tipos_violencia').val();
            var fase_violencia = $('#fase_violencia').val();
            var semaforo = $('#semaforo').val();
            var violentometro = $('#violentometro').val();
            var victimas = $('#victimas').val();
            var agresor = $('#agresor').val();
            var vive_con = $('#vive_con').val();
            var medio_conatacto = $('#medio_contacto').val();
            var plan_accion = $('#plan_accion').val();
            var datos_canalizacion = $('#datos_c').prop('checked'); //Esta seleccionado datos sociodemograficos?
            //if (datos_canalizacion) {
            var institucion = $('#instituciones').val();
            //}
            var como_se_entero = $('#como_se_entero').val();
            var estatus_llamada = $("input[name='estatus_llamada']:checked").val();
            //Registro temporal de tareas
            var tarea1 = $('#tarea1').val();
            var tarea2 = $('#tarea2').val();
            var tarea3 = $('#tarea3').val();
            var devolver_llamada = false
            {% if consejero.tipo_usuario.pk == 1 %}
            devolver_llamada = $('#devolver_llamada').prop('checked'); //Esta seleccionado devolver llamada
            {% endif %}


            $.ajax({
                method: "POST",
                url: "{% url 'webservices:registro_primera_vez' %}",
                cache: false,
                data: {
                    vida_en_riesgo: vida_riesgo,
                    apellido_paterno: a_paterno,
                    apellido_materno: a_materno,
                    fecha_nac: fecha_nac,
                    telefono: tel,
                    nombre: nombre,
                    sexo: sexo,
                    cp: cp,
                    colonia: col,
                    religion: religion,
                    nivel_estudio: grado_estudios,
                    ocupacion: ocupacion,
                    trab_remunerado: trab_remunerado,
                    motivo_llamada: motivo_llamada,
                    causa_riesgo: causa_riesgo,
                    categoria_tipificacion: categoria_tipificacion,
                    nivel_riesgo: nivel_riesgo,
                    f: f,
                    recursos: recursos,
                    intervencion: intervencion,
                    estado_mental_ute: estado_mental_ute,
                    estado_mental_p: estado_mental_p,
                    estado_mental_l: estado_mental_l,
                    estado_mental_m: estado_mental_m,
                    estado_mental_a: estado_mental_a,
                    fase_cambio: fase_cambio,
                    modalidad_violencia: modalidad_violencia,
                    tipo_violencia: tipo_violencia,
                    fase_violencia: fase_violencia,
                    semaforo: semaforo,
                    violentometro: violentometro,
                    victimas: victimas,
                    agresor: agresor,
                    vive_con: vive_con,
                    medio_contacto: medio_conatacto,
                    posible_solucion: plan_accion,
                    institucion: institucion,
                    como_se_entero: como_se_entero,
                    tarea1: tarea1,
                    tarea2: tarea2,
                    tarea3: tarea3,
                    estatus: estatus_llamada,
                    devolver_llamada: devolver_llamada
                },
                success: function (json) {
                    window.location.href = "{% url 'consejero:registro_primera_vez' %}";
                },
                error: function (request) {
                    alert(request.responseText);
                    var error = request
                }
            });

        }

        function reloadInstituciones() {
            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_instituciones' %}",
                cache: false,
                success: function (json) {

                    $("#instituciones").empty().html(' ');
                    $('#instituciones').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Institución")
                    );
                    for (i in json) {
                        $('#instituciones').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#instituciones').material_select();
                    //$('.js-example-basic-single').select2();
                }
            });
        }


    </script>
{% endblock %}
