<!--   SOFTIC SOLUTIONS   -->
{% extends "config/tab_base.html" %}
{% block titulo_tabla %}
    <h5 class="titulo_tabla">- Rubros evaluados en llamadas -</h5>

{% endblock %}
{% load static %}
{% block navegador %}
    <a href="#" style="position: relative; top: 8px; right: 10px; color: white;"
       data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
    <a href="{% url 'calidad:list_evaluacion' %}" class=" font_blanco"><img src="{% static 'imagenes/base/home.png' %}" class="responsive-img" style="position: relative; top: 5px;"></a>
{% endblock %}
{% block campos %}
    <th>Rubro</th>
    <th>Puntaje positivo</th>
    <th>Puntaje negativo</th>
    <th>Total</th>Total</th>
{% endblock %}

{% block scripts_tabla %}


    function eliminar() {
    $.ajax({
    url: "delete/" + id,
    type: "POST", // http method
    // handle a successful response
    success: function (aData) {
    $('#tabla').dataTable()._fnAjaxUpdate();
    },

    // handle a non-successful response
    error: function (xhr, errmsg, err) {
    alert("Ocurrio un error");
    }
    });
    }
{% endblock %}

<!-- Bloque para agregar las clases de las columnas en la tabla acorde al diseño -->
 {% block columns %}

 "columns": [
                    { className: "center fondo_tab_gris border_rigth"},
                    { className: "center fondo_tab_crema border_rigth"},
                    { className: "center fondo_tab_gris border_rigth"},
                    { className: "center fondo_tab_crema"}

                    ],

 {% endblock %}

<!-- *************************************************************************** -->


{% block url_ajax %}{% url 'calidad:list_ajax_evaluacion_rubro' %}{% endblock %}

