{% extends 'config/base.html' %}
{% load static %}
{% block style %}
    <style>
        .collapsible-header:hover {
            color: white !important;
            background-color: #EF7F13 !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col s12 center">
        <h4>Catálogos</h4>
    </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-users"></i>Vive con...</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_vive_con' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-venus-mars"></i>Sexo
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_sexo' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-church"></i>Religión</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_religion' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Actividades de usuarios</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_actividad_usuario' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-briefcase"></i>Ocupación</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_ocupacion' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-user-graduate"></i>Nivel de estudios</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_nivel_estudio' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-heart"></i>Estado civil</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_estado_civil' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-question-circle"></i>¿Cómo se enteró?</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_como_se_entero' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-fist-raised"></i>Nivel de violencia</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_nivel_violencia' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-fire"></i>Violentómetro</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_violentometro' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="fas fa-address-card"></i>Forma de contacto</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_medio_contacto' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Aliados</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_aliado' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Estado</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_estado' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Modalidad de violencia</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_modalidad_violencia' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Fases de cambio</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_fase_cambio' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Municipio</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_municipio' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>País</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_pais' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Motivo de la llamada</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_motivo_llamada' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Tipificaciones</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_tipificacion' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Dependencia de instituciones</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_dependencia' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Recomendaciones para vida en riesgo</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_recomendacion_riesgo' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Redes de apoyo</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_redes_apoyo' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Tipo de violencia</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_tipo_violencia' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Nivel de riesgo</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_nivel_riesgo' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Victimas involucradas</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_victimas_involucradas' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Agresor</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_agresor' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m4 l4">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class=""></i>Estado mental</div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn" href="{% url 'administrador:list_estado_mental' %}"><i class="material-icons left">add</i>Entrar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- another script on the wall -->
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}