{% extends 'config/base.html' %}
{% load static %}
{% block style %}
    <style>
        .boxes:hover {
            -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);}

        .count-text {

        }


    </style>
{% endblock %}
{% block navegador %}
    <a href="#" style="position: relative; top: 8px; right: 10px; color: white;"
       data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
    <a href="{% url 'webapp:index' %}" class=" font_blanco"><img src="{% static 'imagenes/base/home.png' %}" class="responsive-img" style="position: relative; top: 5px;"></a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 center">
            <h4>- Resúmen del día -</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 m3 l3">
                    <div class="card boxes">
                        <div class="card-content">
                            <i class="fas fa-phone-volume fa-2x"></i>
                            <p class="count-text ">Llamadas entrantes</p>
                            <h2 class="timer count-title count-number" data-to="30" data-speed="1000"></h2>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3 l3">
                    <div class="card boxes">
                        <div class="card-content">
                            <i class="fas fa-user-check fa-2x"></i>
                            <p class="count-text ">Usuarios atendidos</p>
                            <h2 class="timer count-title count-number" data-to="11700" data-speed="1500"></h2>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3 l3">
                    <div class="card boxes">
                        <div class="card-content">
                            <i class="fas fa-user-clock fa-2x"></i>
                            <p class="count-text ">Consejeros en servicio</p>
                            <h2 class="timer count-title count-number" data-to="1200" data-speed="2000"></h2>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3 l3">
                    <div class="card boxes">
                        <div class="card-content">
                            <i class="fas fa-hand-holding-heart fa-2x"></i>
                            <p class="count-text ">Canalizaciones</p>
                            <h2 class="timer count-title count-number" data-to="157" data-speed="2500"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        (function ($) {
            $.fn.countTo = function (options) {
                options = options || {};

                return $(this).each(function () {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from: $(this).data('from'),
                        to: $(this).data('to'),
                        speed: $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals: $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof(settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof(settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,               // the number the element should start at
                to: 0,                 // the number the element should end at
                speed: 1000,           // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,           // the number of decimal places to show
                formatter: formatter,  // handler for formatting the value before rendering
                onUpdate: null,        // callback method for every time the element is updated
                onComplete: null       // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function ($) {
            // custom formatting example
            $('.count-number').data('countToOptions', {
                formatter: function (value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                }
            });

            // start all the timers
            $('.timer').each(count);

            function count(options) {
                var $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });
    </script>
{% endblock %}