<!--   SOFTIC SOLUTIONS   -->
{% extends "config/tab_base.html" %}
{% block titulo_tabla %}
    <label class="titulo_tabla">Nivel de estudio</label><br/>
    <a class="waves-effect waves-light btn btn_agregar" href="{% url 'administrador:add_nivel_estudio' %}"><i
            class="material-icons left">add</i>Agregar</a>

{% endblock %}
{% load static %}
{% block campos %}
    <th>ID</th>
    <th>Nombre</th>
    <th data-orderable="false">Editar</th>
    <th data-orderable="false">Eliminar</th>
{% endblock %}

{% block scripts_tabla %}


    function eliminar() {
    $.ajax({
    url: "delete/" + id,
    type: "POST", // http method
    // handle a successful response
    success: function (aData) {
    $('#tabla').dataTable()._fnAjaxUpdate();
    },

    // handle a non-successful response
    error: function (xhr, errmsg, err) {
    alert("Ocurrio un error");
    }
    });
    }
{% endblock %}

{% block url_ajax %}{% url 'administrador:list_ajax_nivel_estudio' %}{% endblock %}

