{% extends 'config/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <style>
        .input-field.col label {
            left: 1.75rem;
        }

        .textoReporte {
            font-size: 1.2rem;
            color: #000;
        }

        #titulo {
            color: #EF7F13;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 center">
            <h4 id="titulo">- Reportes -</h4>
        </div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="col s4 m4 l4" style="margin-top: 1%;">
            <label class="textoReporte">Selecciona el tipo de reporte</label>
        </div>
        <div class="col s4 m4 l4">
            <select>
                <option value="" disabled selected>Seleccione</option>
                <option value="1">Productividad</option>
                <option value="2">Supervisor</option>
            </select>
        </div>
        <div class="col s4 m4 l4"></div>
    </div>
    <div class="row">
        <div class="col s4 m4 l4">
            <label class="textoReporte">Seleccione el periodo de tiempo</label>
        </div>
        <div class="col s4 m4 l4">
            <input name="group1" type="radio" id="test1"/>
            <label for="test1">Día</label>
            <input name="group1" type="radio" id="test2"/>
            <label for="test2">Mes</label>
            <input name="group1" type="radio" id="test3"/>
            <label for="test3">Rango de días</label>
        </div>
        <div class="col s4 m4 l4">
            <!--<input type="text">-->
        </div>
    </div>
    <div class="row" style="padding: 1%;">
        <div class="col s1"></div>
        <div class="col s10">
            <table id="tabla" class="display responsive-table" style="width:100%; padding-top: 5%;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Consejero</th>
                    <th># de servicios</th>
                    <th>Login</th>
                    <th>Logout</th>
                    <th>Tiempo en servicio</th>
                </tr>
                </thead>
                {% block datos_tabla %} {% endblock %}
            </table>
        </div>
        <div class="col s1"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/crsfajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        {% block scripts_tabla %}
        {% endblock %}
        var id = 0;

        function actualiza(uid) {
            id = uid;
            $('.modal').modal({
                    dismissible: false
                }
            );
            $('#modal1').modal('open');
        }

        $(document).ready(function () {
            $('select').material_select();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('#tabla').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        copyTitle: 'Ajouté au presse-papiers',
                        copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                        copySuccess: {
                            _: '%d lignes copiées',
                            1: '1 ligne copiée'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    },
                    {
                        extend: 'print',
                        text: 'Print all',
                        exportOptions: {
                            modifier: {
                                selected: null
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        customize: function (xlsx) {
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];

                            $('row c[r^="C"]', sheet).attr('s', '2');
                        }
                    }


                ],
                processing: true,
                serverSide: false,
                ajax: "{% block url_ajax %}{% endblock %}",
                {% block order %}{% endblock %}
            });

        });

    </script>
{% endblock %}