{% extends 'config/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <style>
        .input-field.col label {
            left: 1.75rem;
        }

        .textoReporte {
            font-size: 1.2rem;
            color: #000;
        }

        #titulo {
            color: #EF7F13;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block navegador %}
    <a href="#" style="position: relative; top: 8px; right: 10px; color: white;"
       data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
    {% if user.is_supervisor %}
    <a href="{% url 'supervisor:resumen' %}" class=" font_blanco"><img src="{% static 'imagenes/base/home.png' %}" class="responsive-img" style="position: relative; top: 5px;"></a>
    {% elif user.is_admin %}
    <a href="{% url 'webapp:index' %}" class=" font_blanco"><img src="{% static 'imagenes/base/home.png' %}" class="responsive-img" style="position: relative; top: 5px;"></a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 center">
            <h4 id="titulo">- Reportes -</h4>
        </div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="col s4 m4 l4" style="margin-top: 1%;">
            <label class="textoReporte">Selecciona el tipo de reporte</label>
        </div>
        <div class="col s4 m4 l4">
            <select id="selectReporte" onchange="filtro_select()" >
                <option value="" disabled selected>Seleccione</option>
                <option value="1" >Productividad</option>
                <!-- <option value="2" onchange="change_reporte('productividad')">Idicadores</option> -->
                <option value="3" selected>Historial de servicios</option>
                <option value="4" >Generales</option>
            </select>
        </div>
        <div class="col s4 m4 l4"></div>
    </div>
    <div class="row">
        <div class="col s4 m4 l4">
            <label class="textoReporte">Seleccione el periodo de tiempo</label>
        </div>
        <div class="col s4 m4 l4">
            <input name="fechas" type="radio" id="r_dia1" value="dia" onclick="muestra_filtro_fecha('dia')"/>
            <label for="r_dia1">Día</label>
            <input name="fechas" type="radio" id="r_mes" value="mes" onclick="muestra_filtro_fecha('mes')"/>
            <label for="r_mes">Mes</label>
            <input name="fechas" type="radio" id="r_dia2" value="rango" onclick="muestra_filtro_fecha('rango')"/>
            <label for="r_dia2">Rango de días</label>
        </div>
        <div class="col s4 m4 l4">
            <!--<input type="text">-->
        </div>
    </div>
    <div class="row" style="margin-top: 1%;">
        <div class="col s4 m4 l4" style="margin-top: 1%;">
        </div>
        <div class="col s2 m2 l2" id="div_mes" hidden>
            <label for="select_fecha_mes">Mes</label>
            <input type="text" class="selector_mes" id="select_fecha_mes" onchange="filtrar()">
        </div>
        <div class="col s2 m2 l2" id="div_fecha1" hidden>
            <label for="select_fecha_1">Fecha</label>
            <input type="text" class="datepicker" id="select_fecha1" onchange="filtrar()">
        </div>
        <div class="col s2 m2 l2" id="div_fecha2" hidden>
            <label for="select_fecha2">Fecha fin</label>
            <input type="text" class="datepicker" id="select_fecha2" onchange="filtrar()">
        </div>
        <div class="col s4 m4 l4"></div>
    </div>
    <div id="div_historial" class="row" style="padding: 1%; display: none;">
        <div class="col s1"></div>
        <div class="col s10">
            <table id="tabla_historial" class="display responsive-table" style="width:100%; padding-top: 5%;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Consejero</th>
                    <th>Fecha</th>
                    <th>Inicio de llamada</th>
                    <th>Fin de llamada</th>
                    <th>Duración de la llamada</th>
                    <th>Vida en riesgo</th>
                    <th>Tipificación</th>
                    <th>Institución de canalización</th>
                    <th>Medio de contacto</th>
                </tr>
                </thead>
                {% block datos_tabla_historial %} {% endblock %}
            </table>
        </div>
        <div class="col s1"></div>

    </div>
    <div id="div_productividad" class="row" style="padding: 1%; display: none">
        <div class="col s1"></div>
        <div class="col s10">
            <table id="tabla_productividad" class="display responsive-table" style="width:100%; padding-top: 5%;">
                <thead>
                <tr>
                    <th>Consejero</th>
                    <th>Tiempo en servicio</th>
                    <th>Total de llamadas</th>
                    <th>Servicios Atendidos</th>
                    <th>Transferencias recibidas</th>
                    <th>Transferencias realizadas</th>
                    <th>Abandono operativo</th>
                    <th>Duración promedio de llamada</th>
                    <th>Calificación promedio</th>
                </tr>
                </thead>
                {% block datos_tabla_productividad %} {% endblock %}
            </table>
        </div>
        <div class="col s1"></div>
    </div>

    <div id= "div_generales" class="row" style="padding: 1%; display: none">
        <form id="params" name="params">
        <div class="col s12">
            <div class="col s3">
                <label for="sexo">Sexo</label>
                <select id="sexo" name="sexo"></select>
            </div>
            <div class="col s3">
                <label for="ocupacion">Ocupación</label>
                <select id="ocupacion" name="ocupacion"></select>
            </div>
            <div class="col s3">
                <label for="estado_civil">Estado Civil</label>
                <select id="estado_civil" name="estado_civil"></select>
            </div>
            <div class="col s3">
                <label for="nivel_academico">Nivel Académico</label>
                <select id="nivel_academico" name="nivel_academico"></select>
            </div>
        </div>

        <div class="col s12">
            <div class="col s3">
                <label for="como_se_entero">¿Cómo se enteró?</label>
                <select id="como_se_entero" name="como_se_entero"></select>
            </div>
            <div class="col s3">
                <label for="contacto">Forma de contacto</label>
                <select id="contacto" name="contacto"></select>
            </div>
            <div class="col s3">
                <label for="tipo_caso">Tipo de caso</label>
                <select id="tipo_caso" name="tipo_caso"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">####################</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">Consejero</label>
                <select id="consejero" name="consejero"></select>
            </div>
            <div class="col s3">
                <label for="consejero">$$$$$$$$$$$$$$$$4</label>
                <select id="consejero" name="consejero"></select>
            </div>
        </div>
        </form>
        <br />

        <div class="col s12 center-align">
            <a class="waves-effect waves-light btn" onclick="filtrar()">buscar</a>
        </div>

        <div class="col s1"></div>
        <div class="col s10" style="margin-top: 10px;">
            <table id="tabla_generales" class="display responsive-table" style="width:100%; padding-top: 5%;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre del Usuario</th>
                    <th>Nombre de Consejero</th>
                    <th>Inicio de llamada</th>
                    <th>Fin de llamada</th>
                    <th>Duración de llamada</th>
                    <th>Vida en riesgo</th>
                    <th>Tipificación</th>
                    <th>Institución de canalización</th>
                    <th>Estado</th>
                    <th>Medio de contacto</th>
                </tr>
                </thead>
                {% block datos_tabla_generales %} {% endblock %}
            </table>
        </div>
        <div class="col s1"></div>
    </div>

    <!-- indicadores por si revive -->
    <!-- <div class="row" style="padding: 1%;">
        <div class="col s1"></div>
        <div class="col s10">
            <table id="tabla_indicadores" class="display responsive-table" style="width:100%; padding-top: 5%;">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Sesión Única</th>
                    <th>Seguimiento</th>
                    <th>Liberación</th>
                </tr>
                </thead>
                {% block datos_tabla_indicadores %} {% endblock %}
            </table>
        </div>
        <div class="col s1"></div>
    </div> -->
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/crsfajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        {% block scripts_tabla %}
        {% endblock %}
        var id = 0;
        var url = '';
        var curr_table = tabla_historial;

        function actualiza(uid) {
            id = uid;
            $('.modal').modal({
                    dismissible: false
                }
            );
            $('#modal1').modal('open');
        }

        $(document).ready(function () {
            $('.datepicker').on('mousedown',function(event){
                event.preventDefault();
            });
            $('.selector_mes').on('mousedown',function(event){
                event.preventDefault();
            });

            $('select').material_select();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('.selector_mes').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100,
                format: 'Seleccionaste: mmmm',
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: true, // Close upon selecting a date,
                container: undefined, // ex. 'body' will append picker to body
            });

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100,
                format: 'Seleccionaste: dd/mmm/yyyy',
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: true, // Close upon selecting a date,
                container: undefined // ex. 'body' will append picker to body
            });


            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_sexos' %}",
                cache: false,
                success: function (json) {
                    $("#sexo").empty().html(' ');
                    $('#sexo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("")
                    );
                    for (i in json) {
                            $('#sexo').append(
                                $("<option></option>")
                                    .attr("value", json[i].pk)
                                    .text(json[i].nombre)
                            );
                        }
                        $('#sexo').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_ocupaciones' %}",
                cache: false,
                success: function (json) {
                    $("#ocupacion").empty().html(' ');
                    $('#ocupacion').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("")
                    );
                    for (i in json) {
                            $('#ocupacion').append(
                                $("<option></option>")
                                    .attr("value", json[i].pk)
                                    .text(json[i].nombre)
                            );
                        }
                        $('#ocupacion').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_estado_civil' %}",
                cache: false,
                success: function (json) {
                    $("#estado_civil").empty().html(' ');
                    $('#estado_civil').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("")
                    );
                    for (i in json) {
                        $('#estado_civil').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#estado_civil').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_grado_estudios' %}",
                cache: false,
                success: function (json) {
                    $("#nivel_academico").empty().html(' ');
                    $('#nivel_academico').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("")
                    );
                    for (i in json) {
                        $('#nivel_academico').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#nivel_academico').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_como_se_entero' %}",
                cache: false,
                success: function (json) {
                    $("#como_se_entero").empty().html(' ');
                    $('#como_se_entero').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("")
                    );
                    for (i in json) {
                        $('#como_se_entero').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#como_se_entero').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_medio_contacto' %}",
                cache: false,
                success: function (json) {
                    $("#contacto").empty().html(' ');
                    $('#contacto').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("")
                    );
                    for (i in json) {
                        $('#contacto').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#contacto').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_tipificaciones' %}",
                cache: false,
                success: function (json) {
                    console.log('TIPIFICACIONES',json);
                    $("#tipo_caso").empty().html(' ');
                    $('#tipo_caso').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("")
                    );
                    for (i in json) {
                        $('#tipo_caso').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#tipo_caso').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_consejeros' %}",
                cache: false,
                success: function (json) {
                    $("#consejero").empty().html(' ');
                    $('#consejero').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text(" ")
                    );
                    for (i in json) {
                        $('#consejero').append(
                            $("<option></option>")
                                .attr("value", json[i].pk)
                                .text(json[i].nombre)
                        );
                    }
                    $('#consejero').material_select();
                }
            });

            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_sexos' %}",
                cache: false,
                success: function (json) {
                    $("#sexo").empty().html(' ');
                    $('#sexo').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("")
                    );
                    for (i in json) {
                            $('#sexo').append(
                                $("<option></option>")
                                    .attr("value", json[i].pk)
                                    .text(json[i].nombre)
                            );
                        }
                        $('#sexo').material_select();
                }
            });


            tabla_historial = $('#tabla_historial').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        copyTitle: 'Ajouté au presse-papiers',
                        copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                        copySuccess: {
                            _: '%d lignes copiées',
                            1: '1 ligne copiée'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    },
                    {
                        extend: 'print',
                        text: 'Print all',
                        exportOptions: {
                            modifier: {
                                selected: null
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        customize: function (xlsx) {
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];

                            $('row c[r^="C"]', sheet).attr('s', '2');
                        }
                    }


                ],
                processing: true,
                serverSide: true,
                ajax: "{% block url_ajax %}{% url 'supervisor:list_ajax_llamada' %}{% endblock %}",
                {% block order %}{% endblock %}
            });

            tabla_productividad = $('#tabla_productividad').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        copyTitle: 'Ajouté au presse-papiers',
                        copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                        copySuccess: {
                            _: '%d lignes copiées',
                            1: '1 ligne copiée'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    },
                    {
                        extend: 'print',
                        text: 'Print all',
                        exportOptions: {
                            modifier: {
                                selected: null
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        customize: function (xlsx) {
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];

                            $('row c[r^="C"]', sheet).attr('s', '2');
                        }
                    }


                ],
                processing: true,
                serverSide: true,
                ajax: "{% block url_ajax2 %}{% url 'supervisor:list_ajax_productividad' %}{% endblock %}",
                {% block order2 %}{% endblock %}
            });

            tabla_generales = $('#tabla_generales').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        copyTitle: 'Ajouté au presse-papiers',
                        copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                        copySuccess: {
                            _: '%d lignes copiées',
                            1: '1 ligne copiée'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    },
                    {
                        extend: 'print',
                        text: 'Print all',
                        exportOptions: {
                            modifier: {
                                selected: null
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        customize: function (xlsx) {
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];

                            $('row c[r^="C"]', sheet).attr('s', '2');
                        }
                    }


                ],
                processing: true,
                serverSide: true,
                ajax: "{% block url_ajax4 %}{% url 'supervisor:list_ajax_reporte_general' %}{% endblock %}",
                {% block order4 %}{% endblock %}
            });
        });

        function muestra_filtro_fecha(tipo) {
            if (tipo == 'dia') {
                $("#div_fecha1").show();
                $("#div_fecha2").hide();
                $("#div_mes").hide();
            } else if (tipo == 'mes') {
                $("#div_fecha1").hide();
                $("#div_fecha2").hide();
                $("#div_mes").show();

            } else if (tipo == 'rango') {
                $("#div_fecha1").show();
                $("#div_fecha2").show();
                $("#div_mes").hide();
            }
        }

        function filtro_select() {
            $('input[name="fechas"]').prop('checked', false);
            $("#select_fecha_mes").val('');
            $("#select_fecha_mes1").val('');
            $("#select_fecha1").val('');
            $("#select_fecha2").val('');
            filtrar();
        }

        function filtrar() {
            console.log('filtrando!')
             $('.datepicker').on('mousedown',function(event){
                event.preventDefault();
            });

            // add switch case de c input
            var tipoReporte = $('#selectReporte').val();
            var tablaUrl;
            var idTabla;

            switch (tipoReporte) {
                case '1': // productividad
                    $("#div_historial").hide();
                    $("#div_productividad").show();
                    $("#div_generales").hide();
                    console.log('caso 1');
                    tablaUrl = "{% url 'supervisor:list_ajax_productividad' %}";
                    idTabla = '#tabla_productividad';
                    curr_table = tabla_productividad;
                    break;
                case '3': // historial de servicios - list_ajax_llamada
                    $("#div_historial").show();
                    $("#div_productividad").hide();
                    $("#div_generales").hide();
                    console.log('caso 3');
                    tablaUrl = "{% url 'supervisor:list_ajax_llamada' %}";
                    idTabla = '#tabla_historial';
                    curr_table = tabla_historial;
                    break;
                case '4': //generales
                    $("#div_historial").hide();
                    $("#div_productividad").hide();
                    $("#div_generales").show();
                    console.log('caso 4');
                    tablaUrl = "{% url 'supervisor:list_ajax_reporte_general' %}";
                    idTabla = '#tabla_generales';
                    curr_table = tabla_generales;
                    break;
                default:
                    break;
                }


            var filtro = $("input[name='fechas']:checked").val();
            if (filtro == "dia") {
                filtrar_dia(tablaUrl, idTabla, curr_table);
            } else if (filtro == "mes") {
                filtrar_mes(tablaUrl, idTabla, curr_table);
            } else if (filtro == "rango") {
                filtrar_rango(tablaUrl, idTabla, curr_table);
            } else {
                filtro_default(tablaUrl, idTabla, curr_table);
            }
        }

        function filtrar_dia(tablaUrl, idTabla, tablaActual) { //  pasar como param: tipo de reporte
            var $dia_picker = $("#select_fecha1").pickadate();
            var dia = $dia_picker.pickadate('picker');

            var nva_url = tablaUrl + "?dia=" + dia.get('select', 'yyyy-mm-dd')

            if ( idTabla === '#tabla_generales') {
                const test = $('form').serialize();
                nva_url += '&' + test;
            }
            tablaActual.ajax.url(nva_url).load()
            $(idTabla).dataTable()._fnAjaxUpdate()
        }

        function filtrar_mes(tablaUrl, idTabla, tablaActual) {
            var $mes_picker = $("#select_fecha_mes").pickadate();
            var mes = $mes_picker.pickadate('picker');
            var nva_url = tablaUrl + "?mes=" + mes.get('select', 'mm');
            if ( idTabla === '#tabla_generales') {
                const test = $('form').serialize();
                nva_url += '&' + test;
            }
            tablaActual.ajax.url(nva_url).load()
            $(idTabla).dataTable()._fnAjaxUpdate()
        }

        function filtrar_rango(tablaUrl, idTabla, tablaActual) {
            var $fecha1_picker = $("#select_fecha1").pickadate();
            var $fecha2_picker = $("#select_fecha2").pickadate();
            var fecha1 = $fecha1_picker.pickadate('picker');
            var fecha2 = $fecha2_picker.pickadate('picker');
            var nva_url = tablaUrl + "?fecha1=" + fecha1.get('select', 'yyyy-mm-dd') + "&fecha2=" +fecha2.get('select', 'yyyy-mm-dd')
            if ( idTabla === '#tabla_generales') {
                const test = $('form').serialize();
                nva_url += '&' + test;
            }
            tablaActual.ajax.url(nva_url).load()
            $(idTabla).dataTable()._fnAjaxUpdate()
        }



        function filtro_default(tablaUrl, idTabla, tablaActual) {
            // nva_url = tablaUrl + "?mes=" + mes.get('select', 'mm')
            if ( idTabla === '#tabla_generales') {
                const test = $('form').serialize();
                tablaUrl += '?' + test;
            }

            tablaActual.ajax.url(tablaUrl).load()
            $(idTabla).dataTable()._fnAjaxUpdate()
        }

    </script>
{% endblock %}