{% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block style %}
    <style type="text/css">

        #pad{
            padding: 6px;
        }



    </style>
{% endblock %}

{% block navegador %}
    <a href="#" style="position: relative; top: 8px; right: 10px; color: white;"
       data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
    <a href="{% url 'webapp:index' %}" class=" font_blanco"><img src="{% static 'imagenes/base/home.png' %}" class="responsive-img" style="position: relative; top: 5px;"></a>
    <a href="{% url 'webapp:ver_recados' %}" class="breadcrumb font_blanco" style="font-size: 12px;">Recados</a>
{% endblock %}
{% block content %}

        <div class="row fondo_blanco" style="padding-top: 5%;">
              <div class="col s1 m1 l1"></div>
              <div class="col s10 m10 l10" style="margin-top: 0px;">
               <div class="row">
                 <div class="col s12">
                   <p class="negritas font_naranja center titulos">ENVIAR RECADO </p>
                 </div>
               </div>
                <div class="row sin_marg_bottom" style="padding: 1%; margin-bottom: 0px;">
                  <form class="col s12" >
                    <div class="row sin_marg_bottom">
                      <div class="col s12">
                          <select class="browser-default js-example-basic-multiple" id="usuarios" multiple="multiple"></select>
                      </div>
                      <div class=" input-field col s12">
                          <input id="asunto" type="text" class="validate" required="required">
                          <label for="texto"> Asunto:</label>
                      </div>
                    </div>

                    <div class="row sin_marg_bottom" >

                      <div class="file-field input-field">
                        <div class="btn fondo_naranja redondo s2">
                          <span>Adjuntar</span>
                          <input type="file" id="adjuntos">
                        </div>
                        <div class="file-path-wrapper" id="pad">
                          <input class="file-path validate" type="text">
                        </div>
                      </div>

                    </div>

                    <div class="row sin_marg_bottom">
                      <form class="col s12">
                        <div class="row sin_marg_bottom">

                          <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" placeholder="Mensaje" style="padding-left: 14px;"></textarea>

                          </div>
                        </div>
                      </form>

                    </div>

                  </form>
               </div>
                <div class="row">
                  <div class="col s12 center"  style="margin-bottom: 5%;">
                    <button class="btn fondo_naranja redondo" name="action" onclick="enviarRecados()">Enviar</button>
                  </div>
                </div>
              </div>
              <div class="col s1 m1 l1"></div>
            </div>


{%  endblock %}



{% block scripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'js/crsfajax.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('.datepicker').on('mousedown',function(event){
            event.preventDefault();
            });
            $('.timepicker').on('mousedown',function(event){
            event.preventDefault();
            });

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100,
                min: [1939, 1, 1],
                max: [2019, 1, 31],
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false, // Close upon selecting a date,
                container: undefined // ex. 'body' will append picker to body
            });


            $.ajax({
                method: "GET",
                url: "{% url 'webservices:list_usuarios' %}",
                cache: false,
                success: function (json) {
                    console.log('res',json);
                    $("#usuarios").empty().html(' ');
                    $('#usuarios').append(
                        $("<option></option>")
                            .attr("value", "")
                            .text("Institución")
                    );
                    for (i in json) {
                        $('#usuarios').append(
                            $("<option></option>")
                                .attr("value", json[i].id)
                                .text(json[i].nombre + ' ' + json[i].a_paterno + ' ' + json[i].a_materno )
                        );
                    }
                    $('#usuarios').material_select();
                    $('.js-example-basic-multiple').select2();
                }
            });

        });





        function enviarRecados() {
            var asunto = $('#asunto').val();
            var textarea = $('#textarea1').val();
            var destinatarios = $("#usuarios").val();


            $.ajax({
                data_type: 'json',
                traditional: true,
                method: "POST",
                url: '/ws/recados/',
                cache: false,
                data: {
                    asunto: asunto,
                    cuerpo: textarea,
                    destinatarios: destinatarios,
                },
                success: function (res) {

                if(!$('#adjuntos')[0].files[0]) {
                    alert('Se ha enviado el mensaje');
                    return
                }
                    const formData = new FormData();
                    formData.append('file', $('#adjuntos')[0].files[0]);
                    formData.append('recado', res.id);
                    jQuery.ajax({
                        url: '/ws/add_archivo_recado/',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                        success: function (data) {
                            alert('Se ha enviado el recado');
                        }
                    });



                },
                error: function (request) {
                    const data = new FormData();
                    data.append('file', $('#adjuntos')[0].files[0]);
                    data.append('archivo', $('#pad')[0].files[0]);
                    alert(request.responseText);
                    var error = request
                }
            });



        }

       </script>

{% endblock %}
