{% extends 'config/base.html' %}
{% load static %}
{% block style %}
    <style>
        .card-box:hover {
            background-color: #EF7F13 !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 m4 l4">
                    <a class="modal-trigger" href="#modalUsers">
                        <div class="card card-box blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title text-center"><p><i
                                        class="fas fa-users fa-2x"></i></p>Usuarios</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4 l4">
                    <a href="{% url 'administrador:catalogos' %}">
                        <div class="card card-box blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title text-center"><p><i class="fas fa-book-open fa-2x"></i></p>Catálogos</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4 l4">
                    <a href="{% url 'administrador:list_acude_institucion' %}">
                        <div class="card card-box blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title text-center"><p><i class="fas fa-building fa-2x"></i></p>Instituciones</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="modalUsers" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 center">
                    <h4>Usuarios</h4>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="col s4 m4 l4">
                            <a href="{% url 'administrador:list_consejero' %}">
                                <div class="card card-box blue-grey darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title text-center text-bold">Consejero</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col s4 m4 l4">
                            <a href="{% url 'administrador:list_directorio' %}">
                                <div class="card card-box blue-grey darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title text-center text-bold">Directorio</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col s4 m4 l4">
                            <a href="{% url 'administrador:list_supervisor' %}">
                                <div class="card card-box blue-grey darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title text-center text-bold">Supervisor</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 m4 l4"></div>
                        <div class="col s4 m4 l4">
                            <a href="">
                                <div class="card card-box blue-grey darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title text-center text-bold">Calidad</span>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col s4 m4 l4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
{% endblock %}