 {% extends 'config/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block style %}

    <style type="text/css">
    .fondo_gris{
	    background-color:#f2f2f2;
    }

        .fondo_verde{
        background-color: #9bbc5c;
    }

        .mifondo{
            background-color: #f2f2f2;
        }

        .scroll {
            height:100vh;
            overflow-y: scroll;

        }


        .fondo_obscuro{
	        background-color: #6E6D6D;
            color: white;
        }

        .mifondo:hover{
            background-color: white !important;
        }
/*
    #recado .select-recado:hover {
        background-color: white;
        overflow: auto;
    } */

    </style>
{% endblock %}


{% block content %}
  <div class="row fondo_blanco">
               <div class="col s4 scroll" style="padding: 0px;">
                  <div class="row" style="padding: 0px; margin-bottom: 0px;">
                    <div class="col s12 fondo_gris ">
                        <div class="row">

                               <div id="recado">

                                </div>

                         </div>

                    </div>
                  </div>


               </div>
               <div class="col s8" style="padding: 0px;">
                 <div class="row">
                  <div class="col s12" style="padding: 3%;">
                   <p class="negritas font_naranja center titulos">RECADOS</p>
                 </div>
                 <div class="fondo_verde col s12  font_blanco" >
                  <div class="row" style="margin-bottom: 0px;">
                    <div id="header_msj">
                        <div class="col s8" style="padding-top:3%; ">
                      <img src="{% static "imagenes/circulo_usuario.png" %}" style="margin-right: 3%;">

                    </div>
                    <div class="col s4" style="padding: 3%;">
                        <a href="{% url 'webapp:recados' %}"><img src="{% static "imagenes/circulo_mas.png" %}" style="margin-right: 3%;">
                        <span class="negritas" style="position: absolute;"> NUEVO RECADO</span></a>
                      <p style="margin-top: 0px; margin-left: 8%;">

                      </p>
                    </div>
                    </div>
                  </div>
                 </div>
                 </div>

                   <div id="mensaje_recado">

                   </div>


               </div>
              </div>
{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="js/materialize.js"></script>
       <script type="text/javascript">

       // const DOMAIN = "http://localhost:8000";
       const DOMAIN = "http://ec2-52-32-27-159.us-west-2.compute.amazonaws.com"

        $(document).ready(function() {


            $.ajax({
                url: '/ws/recados/',
                method: 'GET',
                success: function (res) {
                    let json = res.sort(function (a, b) {
                        a = new Date(a.fecha);
                        b = new Date(b.fecha);
                            return a > b ? -1 : a < b ? 1 : 0;
                    });

                    for (i in json) {
                        recado = {
                            id: json[i].id,
                            asunto: json[i].asunto,
                            cuerpo: json[i].cuerpo,
                            fecha: json[i].fecha,
                            status: json[i].status,
                            nombre: json[i].usuario.nombre + ' ' + json[i].usuario.a_paterno + ' ' + json[i].usuario.a_materno,
                            leido: json[i].leido,
                        }
                        $('#recado').append(`
                         <div id=${recado.id} class=" row select-recado mifondo">
                           <div class="col s9">
                             <p class="negritas" style="margin-bottom: 0px;">${recado.asunto}</p>
                           </div>
                           <div class="col s3" style="text-align: right;">
                             <p style="font-size: 11px; line-height: 23px; margin-bottom: 0px;">${recado.fecha}</p>
                           </div>
                           <div class="col s12">
                             <i class="material-icons tiny">attachment</i><span class="" style="font-size: 12px;"> De: ${recado.nombre}</span>
                           </div>
                           <div class="col s12">
                             <p style="font-size: 12px;">
                               ${recado.cuerpo.substring(0,50)}
                             </p>
                           </div>
                         </div>
                        `)

                        if (!recado.leido) {
                            $('#' + recado.id).removeClass("mifondo").addClass("fondo_obscuro");
                       }
                    }
                    $('.select-recado').on('click', function(e){
                        e.preventDefault();
                        $('#' + this.id).removeClass("fondo_obscuro")
                        recado_con_Id(this.id);
                    });
                },

                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
            });



          $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens,
          }
        );


          $('#datos_p').change(function(){
            if(!$(this).prop('checked')){
              $('#datos_personales').hide();
            }else{
              $('#datos_personales').show();
            }

          })

          $('#datos_s').change(function(){
            if(!$(this).prop('checked')){
              $('#datos_sociode').hide();
            }else{
              $('#datos_sociode').show();
            }

          })

          $('#datos_c').change(function(){
            if(!$(this).prop('checked')){
              $('#datos_canalizacion').hide();
            }else{
              $('#datos_canalizacion').show();
            }

          })

            // $( ".select-recado" ).click(function() {
             // $( "#target" ).click();
            // });




        function recado_con_Id(recadoid) {
           $.ajax({
                url: '/ws/recados/'+ recadoid,
                method: 'GET',
                success: function (res) {

                    $( "#mensaje_recado" ).empty().append(`
                        <div class="row" style="padding: 5%;">
                    <div class="col s12 font_gris_oscuro" style="text-align: center;">
                        <h5 class="negritas">${res.asunto}</h5>
                        <p style="text-align: left;">${res.cuerpo}</p>
                        <hr>
                    </div>

                    <div id="archivo">
                    </div>


                  </div>
                `)

                for( let el of res.archivo ) {

                     $( "#archivo" ).empty().append(`
                        <div class="col s6">
                        <img src="{% static 'imagenes/circulo_clip.png' %}" style="margin-right: 3%;">
                        <span class="negritas font_naranja" style="position: absolute;"> ${el.file} </span>
                        </div>


                        <div class="col s6" style="text-align: right;">
                            <a href=${DOMAIN + el.file} target="blank"><img src="{% static "imagenes/circulo_descargar.png" %}"></a>
                        </div>

                `)
                }


                   // for(u in res.destinatarios)
                    $( "#header_msj" ).empty().append(`
                    <div class="col s8" style="padding-top:3%; ">
                      <img src="{% static "imagenes/circulo_usuario.png" %}" style="margin-right: 3%;"><span style="position: absolute;">
                      De: ${res.destinatarios[0].nombre} ${res.destinatarios[0].a_paterno} ${res.destinatarios[0].a_materno}</span>
                      <p style="margin-top: 0px; margin-left: 8%;">
                        ${res.destinatarios[0].correo}
                      </p>
                    </div>
                    <div class="col s4" style="padding: 3%;">
                        <a href="{% url 'webapp:recados' %}"><img src="{% static "imagenes/circulo_mas.png" %}" style="margin-right: 3%;">
                        <span class="negritas" style="position: absolute;"> NUEVO RECADO</span></a>
                      <p style="margin-top: 0px; margin-left: 8%;">
                        ${res.fecha}
                      </p>
                    </div>
                    `)

                },

                error: function (jqXHR, textStatus, errorThrown) {

                }
           });
            }


       </script>

{%  endblock %}