<!--   SOFTIC SOLUTIONS   -->
{% extends 'config/base.html' %}
{% load static %}
{% block style %}
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
        <style type="text/css">
            .input-field.col label {
                left: 1.75rem;
            }
        </style>
    </head>
{% endblock %}
{% block content %}
    <!-- aquí va el contenido de la tabla -->
    <main class="fondo_blanco">
        <div class="fondo_blanco" style="margin-top: 72px;">
            <div class="row fondo_blanco" style="padding-top: 10%;">
                <div class="col s1 m1 l1"></div>
                <div class="col s10 m10 l10" style="margin-top: 0px;">
                    <!-- Corregir esta parte-->
                    <div class="row">
                        <div class="col s12">
                            <p>- {% block titulo_tabla %}{% endblock %} </p>
                        </div>

                        <div class="col s12">
                            <p class="font_gris"> {% block instrucciones_tabla %}{% endblock %}</p>
                        </div>

                        <div class="col s12" style="text-align: center; margin-top: 5%;">
                            {% block btn_agregar %}{% endblock %}
                        </div>
                    </div>
                    <!-- Hasta aqui-->

                    <div class="row" style="padding: 1%;">
                        <div class="col s12">
                            <table id="tabla" class="display responsive-table" style="width:100%; padding-top: 5%;">
                                <thead>
                                <tr>
                                    {% block campos %}{% endblock %}
                                </tr>
                                </thead>
                                {% block datos_tabla %} {% endblock %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col s1 m1 l1"></div>
            </div>
        </div>
    </main>
    <!-- Modal -->
    {% block modal %}

        <div id="modal1" class="modal">
            <div class="modal-content">
                <p>¿Seguro que deseas eliminarlo?</p>
            </div>
            <div class="modal-footer">
                <a class="modal-action modal-close waves-effect btn-flat">Cancelar</a>
                <a onclick="eliminar()" class="modal-action modal-close waves-effect btn-flat">Aceptar</a>
            </div>
        </div>
    {% endblock %}
    <!-- fin del modal -->
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/crsfajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        {% block scripts_tabla %}
        {% endblock %}
        var id = 0;

        function actualiza(uid) {
            id = uid;
            $('.modal').modal({
                    dismissible: false
                }
            );
            $('#modal1').modal('open');
        }

        $(document).ready(function () {
            $('select').material_select();
            $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens,
                }
            );

            $('#tabla').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        copyTitle: 'Ajouté au presse-papiers',
                        copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                        copySuccess: {
                            _: '%d lignes copiées',
                            1: '1 ligne copiée'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    },
                    {
                        extend: 'print',
                        text: 'Print all',
                        exportOptions: {
                            modifier: {
                                selected: null
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        customize: function (xlsx) {
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];

                            $('row c[r^="C"]', sheet).attr('s', '2');
                        }
                    }


                ],
                processing: true,
                serverSide: true,
                ajax: "{% block url_ajax %}{% endblock %}",
                {% block order %}{% endblock %}
            });

        });

    </script>
{% endblock %}

